Connect to Drive for Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

Load Files

In [ ]:
import csv
import pandas as pd
import numpy as np
import gc
gc.collect()
Deposit_Acct_Join122016 = pd.read_csv('/content/drive/My Drive/Deposit_Acct_Join122016.txt', sep="|")
print (Deposit_Acct_Join122016.head(2))
Deposit_InstitutionDetails122016 = pd.read_csv('/content/drive/My Drive/Deposit_InstitutionDetails122016.txt', sep="|")
Deposit_InstitutionDetails122016 = Deposit_InstitutionDetails122016.drop(['inst_typ', 'cert_nbr', 'rssd_id', 'brnch_srv_typ', 'ho_uninumbr', 'web', 'phone', 'asset_sz', 'hd_offc', 'est_dt', 'rtng_nbr', 'zip', 'county', 'branches', 'institutiondeposits', 'branchdeposits', 'cnty_fps', 'state_fps', 'msa', 'cbsa', 'tm_zone'], axis = 1)
print (Deposit_InstitutionDetails122016.head(2))
depositRateData_2016_12 = pd.read_csv('/content/drive/My Drive/depositRateData_2016_12.txt', sep="|", dtype={'accountnumber': 'str', 'productcode': 'str', 'producttype': 'str', 'tierminimum': 'int', 'tiermaximum': 'int', 'termlength': 'int', 'rate': 'float', 'apy': 'float', 'surveydate': 'str'})
print (depositRateData_2016_12.head(2))

  acct_nbr_loc acct_nbr_rt prd_typ_join    eff_date
0   MI02000024  MI02000024      BPREMMM  2013-01-26
1   MI02000024  MI02000024       BRELMM  1999-11-15
     acct_nbr                                 inst_nm  ...         lon        lat
0  AK00100001  Wells Fargo Bank, National Association  ... -149.887488  61.195833
1  AK00100002              First National Bank Alaska  ... -149.883667  61.188210

[2 rows x 8 columns]

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  accountnumber productcode producttype  ...   rate   apy  surveydate
0    AK00100003      MM100K          MM  ...  0.145  0.15  2016-11-30
1    AK00100006      MM100K          MM  ...  0.050  0.05  2016-11-30

[2 rows x 10 columns]

In [ ]:
Deposit_Acct_Join122016['eff_date'] = pd.to_datetime(Deposit_Acct_Join122016.eff_date)

keep the latest rate setter based on 'acct_nbr_loc','prd_typ_join'

---

In [ ]:
c_maxes = Deposit_Acct_Join122016.groupby(['acct_nbr_loc', 'prd_typ_join']).eff_date.transform(max)
Deposit_Acct_Join122016 = Deposit_Acct_Join122016.loc[Deposit_Acct_Join122016.eff_date == c_maxes]

In [ ]:
print (len(depositRateData_2016_12.index))
print (len(Deposit_Acct_Join122016.index))

1778853
2954164

In [ ]:
gc.collect()

33

Remove duplicates based on 'accountnumber', 'productcode', 'surveydate' from Deposit Rate Data file

In [ ]:
unique_depositRateData_2016_12 = depositRateData_2016_12[~depositRateData_2016_12[['accountnumber', 'productcode', 'surveydate']].apply(frozenset, axis=1).duplicated()]
unique_depositRateData_2016_12 = unique_depositRateData_2016_12.rename(columns={"accountnumber": "acct_nbr_loc" , "producttype": "prd_typ_join"})
del unique_depositRateData_2016_12['apy']
unique_depositRateData_2016_12.head(2)

  acct_nbr_loc productcode prd_typ_join  ...  termfrequency   rate  surveydate
0   AK00100003      MM100K           MM  ...            NaN  0.145  2016-11-30
1   AK00100006      MM100K           MM  ...            NaN  0.050  2016-11-30

[2 rows x 9 columns]

In [ ]:
print (len(depositRateData_2016_12.index))
print (len(unique_depositRateData_2016_12.index))

1778853
1778853

In [ ]:
Deposit_InstitutionDetails122016 = Deposit_InstitutionDetails122016.rename(columns={"acct_nbr": "acct_nbr_loc"})
Deposit_InstitutionDetails122016['uninumbr'] = Deposit_InstitutionDetails122016['uninumbr'].replace('0.0', np.nan)
Deposit_InstitutionDetails122016 = Deposit_InstitutionDetails122016.dropna(axis=0, subset=['uninumbr'])
Deposit_InstitutionDetails122016.head(2)

  acct_nbr_loc                                 inst_nm  ...         lon        lat
0   AK00100001  Wells Fargo Bank, National Association  ... -149.887488  61.195833
1   AK00100002              First National Bank Alaska  ... -149.883667  61.188210

[2 rows x 8 columns]

In [ ]:
Deposit_InstitutionDetails122016.uninumbr.isna().sum()

0

In [ ]:
unique_Deposit_InstitutionDetails122016 = Deposit_InstitutionDetails122016[~Deposit_InstitutionDetails122016[['acct_nbr_loc', 'uninumbr']].apply(frozenset, axis=1).duplicated()]
unique_Deposit_InstitutionDetails122016.head(2)

  acct_nbr_loc                                 inst_nm  ...         lon        lat
0   AK00100001  Wells Fargo Bank, National Association  ... -149.887488  61.195833
1   AK00100002              First National Bank Alaska  ... -149.883667  61.188210

[2 rows x 8 columns]

In [ ]:
print (len(Deposit_InstitutionDetails122016.index))
print (len(unique_Deposit_InstitutionDetails122016.index))

109212
109212

In [ ]:
unique_depositRateData_2016_12['surveydate'] = pd.to_datetime(unique_depositRateData_2016_12.surveydate)

Merge account join file and deposit rate data file based on 'acct_nbr_loc', 'prd_typ_join'

In [ ]:
rate_acctjoin_data = pd.merge(Deposit_Acct_Join122016,unique_depositRateData_2016_12, on=['acct_nbr_loc', 'prd_typ_join'], how ='inner')
rate_acctjoin_data_filterdate = rate_acctjoin_data[rate_acctjoin_data['surveydate'] >= rate_acctjoin_data['eff_date']]
print (len(rate_acctjoin_data_filterdate.index))
#rate_acctjoin_data_filterdate = rate_acctjoin_data_filterdate.sort_values(by=['productcode','acct_nbr_loc'])
#rate_acctjoin_data_filterdate = rate_acctjoin_data_filterdate.reset_index()
#del rate_acctjoin_data_filterdate['index']
rate_acctjoin_data_filterdate.head(2)

1772425

  acct_nbr_loc acct_nbr_rt prd_typ_join  ... termfrequency  rate  surveydate
0   MI02000024  MI02000024           CD  ...             M  1.19  2016-11-29
1   MI02000024  MI02000024           CD  ...             M  1.19  2016-11-29

[2 rows x 11 columns]

In [ ]:
gc.collect()

22

In [ ]:
rate_acctjoin_data_filterdate.drop_duplicates(keep=False,inplace=True)
print (len(rate_acctjoin_data_filterdate.index))
rate_acctjoin_data_filterdate.head(2)

1772425

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  acct_nbr_loc acct_nbr_rt prd_typ_join  ... termfrequency  rate  surveydate
0   MI02000024  MI02000024           CD  ...             M  1.19  2016-11-29
1   MI02000024  MI02000024           CD  ...             M  1.19  2016-11-29

[2 rows x 11 columns]

In [ ]:
rate_acctjoin_data_filterdate = rate_acctjoin_data_filterdate.drop(columns=['prd_typ_join', 'eff_date'],axis=1)

In [ ]:
pc_list = rate_acctjoin_data_filterdate['productcode'].unique().tolist()

In [ ]:
#key_sublists = [pc_list[i * 150:(i + 1) * 150] for i in range((len(pc_list) + 5 - 1) // 150 )]  
#key1 = np.array([key_sublists.iloc[0]].values)
#key1
key1 = pc_list[0:151]
key2 = pc_list[151:302]
key3 = pc_list[302:453]
key4 = pc_list[453:604]
key5 = pc_list[604:755]
pc_list_dict1 = {name: rate_acctjoin_data_filterdate.loc[rate_acctjoin_data_filterdate['productcode'] == name] for name in key1}
pc_list_dict2 = {name: rate_acctjoin_data_filterdate.loc[rate_acctjoin_data_filterdate['productcode'] == name] for name in key2}
pc_list_dict3 = {name: rate_acctjoin_data_filterdate.loc[rate_acctjoin_data_filterdate['productcode'] == name] for name in key3}
pc_list_dict4 = {name: rate_acctjoin_data_filterdate.loc[rate_acctjoin_data_filterdate['productcode'] == name] for name in key4}
pc_list_dict5 = {name: rate_acctjoin_data_filterdate.loc[rate_acctjoin_data_filterdate['productcode'] == name] for name in key5}

In [ ]:
len(key1)+len(key2)+len(key3)+len(key4)+len(key5)

748

In [ ]:
gc.collect()

0

In [ ]:
df_blank = unique_depositRateData_2016_12['acct_nbr_loc'].unique()
df_blank = pd.DataFrame(df_blank.flatten())
df_blank = df_blank.rename(columns={0: 'acct_nbr_loc'})
print((df_blank))
type(df_blank)

     acct_nbr_loc
0      AK00100003
1      AK00100006
2      AK00400001
3      AK00400002
4      AL00100010
...           ...
8552   GA00700155
8553   AL00900023
8554   IL07400009
8555   MI04900013
8556   ID00100029

[8557 rows x 1 columns]

pandas.core.frame.DataFrame

In [ ]:
i=1
df_blank1 = df_blank
import datetime
from functools import reduce
for key in pc_list_dict1:
  new_df = pd.DataFrame(pc_list_dict1[key])
  new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','productcode': key+'_productcode','surveydate': key+'_surveydate','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  df_blank1 = reduce(lambda x,y: pd.merge(x,y, on='acct_nbr_loc', how='outer'), [df_blank1, new_df])
  #gc.collect()
  #df_blank = pd.concat([df_blank,new_df], axis=1)
  #df_blank = df_blank.append(new_df, ignore_index=True)
  print('Appending product ',key,' data to the dataframe. Loop number: ',i,' of',len(key1),' time: ',datetime.datetime.utcnow())
  i=i+1
print(df_blank1)
wide1 = df_blank1.loc[:,~df_blank1.columns.duplicated()]
#wide1.to_csv("/content/drive/My Drive/key1.csv", index = False, sep='|',mode = 'w', encoding='utf-8')

Appending product  24MCD10K  data to the dataframe. Loop number:  1  of 151  time:  2020-02-21 14:23:45.739905
Appending product  24MCD100K  data to the dataframe. Loop number:  2  of 151  time:  2020-02-21 14:23:45.759465
Appending product  30MCD10K  data to the dataframe. Loop number:  3  of 151  time:  2020-02-21 14:23:45.777042
Appending product  24MCD40K  data to the dataframe. Loop number:  4  of 151  time:  2020-02-21 14:23:45.799574
Appending product  30MCD40K  data to the dataframe. Loop number:  5  of 151  time:  2020-02-21 14:23:45.820659
Appending product  09MCD100K  data to the dataframe. Loop number:  6  of 151  time:  2020-02-21 14:23:45.843311
Appending product  12MCD10K  data to the dataframe. Loop number:  7  of 151  time:  2020-02-21 14:23:45.870879
Appending product  12MCD100K  data to the dataframe. Loop number:  8  of 151  time:  2020-02-21 14:23:45.900628
Appending product  18MCD10K  data to the dataframe. Loop number:  9  of 151  time:  2020-02-21 14:23:45.932148
Appending product  18MCD100K  data to the dataframe. Loop number:  10  of 151  time:  2020-02-21 14:23:45.964719
Appending product  60MCD250K  data to the dataframe. Loop number:  11  of 151  time:  2020-02-21 14:23:46.000703
Appending product  01MCD10K  data to the dataframe. Loop number:  12  of 151  time:  2020-02-21 14:23:46.036100
Appending product  01MCD100K  data to the dataframe. Loop number:  13  of 151  time:  2020-02-21 14:23:46.070274
Appending product  01MCD20K  data to the dataframe. Loop number:  14  of 151  time:  2020-02-21 14:23:46.110583
Appending product  01MCD200K  data to the dataframe. Loop number:  15  of 151  time:  2020-02-21 14:23:46.150601
Appending product  01MCD25K  data to the dataframe. Loop number:  16  of 151  time:  2020-02-21 14:23:46.194634
Appending product  01MCD250K  data to the dataframe. Loop number:  17  of 151  time:  2020-02-21 14:23:46.238067
Appending product  01MCD50K  data to the dataframe. Loop number:  18  of 151  time:  2020-02-21 14:23:46.283649
Appending product  01MCD500K  data to the dataframe. Loop number:  19  of 151  time:  2020-02-21 14:23:46.332625
Appending product  03MCD1MIL  data to the dataframe. Loop number:  20  of 151  time:  2020-02-21 14:23:46.387358
Appending product  03MCD40K  data to the dataframe. Loop number:  21  of 151  time:  2020-02-21 14:23:46.443148
Appending product  03MCD250K  data to the dataframe. Loop number:  22  of 151  time:  2020-02-21 14:23:46.497080
Appending product  03MCD15K  data to the dataframe. Loop number:  23  of 151  time:  2020-02-21 14:23:46.559416
Appending product  03MCD20K  data to the dataframe. Loop number:  24  of 151  time:  2020-02-21 14:23:46.616960
Appending product  03MCD200K  data to the dataframe. Loop number:  25  of 151  time:  2020-02-21 14:23:46.681673
Appending product  03MCD5K  data to the dataframe. Loop number:  26  of 151  time:  2020-02-21 14:23:46.744114
Appending product  03MCD500K  data to the dataframe. Loop number:  27  of 151  time:  2020-02-21 14:23:46.811179
Appending product  03MCD60K  data to the dataframe. Loop number:  28  of 151  time:  2020-02-21 14:23:46.877863
Appending product  03MCD7.5K  data to the dataframe. Loop number:  29  of 151  time:  2020-02-21 14:23:46.947535
Appending product  03MCD75K  data to the dataframe. Loop number:  30  of 151  time:  2020-02-21 14:23:47.024635
Appending product  03MCD90K  data to the dataframe. Loop number:  31  of 151  time:  2020-02-21 14:23:47.094177
Appending product  03MCD50K  data to the dataframe. Loop number:  32  of 151  time:  2020-02-21 14:23:47.167788
Appending product  06MCD1MIL  data to the dataframe. Loop number:  33  of 151  time:  2020-02-21 14:23:47.247985
Appending product  06MCD15K  data to the dataframe. Loop number:  34  of 151  time:  2020-02-21 14:23:47.325177
Appending product  06MCD10K  data to the dataframe. Loop number:  35  of 151  time:  2020-02-21 14:23:47.417506
Appending product  06MCD20K  data to the dataframe. Loop number:  36  of 151  time:  2020-02-21 14:23:47.502969
Appending product  06MCD200K  data to the dataframe. Loop number:  37  of 151  time:  2020-02-21 14:23:47.592189
Appending product  06MCD35K  data to the dataframe. Loop number:  38  of 151  time:  2020-02-21 14:23:47.682592
Appending product  06MCD5K  data to the dataframe. Loop number:  39  of 151  time:  2020-02-21 14:23:47.776538
Appending product  06MCD40K  data to the dataframe. Loop number:  40  of 151  time:  2020-02-21 14:23:47.871646
Appending product  06MCD500K  data to the dataframe. Loop number:  41  of 151  time:  2020-02-21 14:23:47.969188
Appending product  06MCD60K  data to the dataframe. Loop number:  42  of 151  time:  2020-02-21 14:23:48.069538
Appending product  06MCD7.5K  data to the dataframe. Loop number:  43  of 151  time:  2020-02-21 14:23:48.169265
Appending product  06MCD75K  data to the dataframe. Loop number:  44  of 151  time:  2020-02-21 14:23:48.277110
Appending product  06MCD90K  data to the dataframe. Loop number:  45  of 151  time:  2020-02-21 14:23:48.378057
Appending product  06MCD250K  data to the dataframe. Loop number:  46  of 151  time:  2020-02-21 14:23:48.476690
Appending product  09MCD1MIL  data to the dataframe. Loop number:  47  of 151  time:  2020-02-21 14:23:48.577159
Appending product  09MCD20K  data to the dataframe. Loop number:  48  of 151  time:  2020-02-21 14:23:48.679691
Appending product  09MCD200K  data to the dataframe. Loop number:  49  of 151  time:  2020-02-21 14:23:48.783655
Appending product  09MCD25K  data to the dataframe. Loop number:  50  of 151  time:  2020-02-21 14:23:48.895625
Appending product  09MCD5K  data to the dataframe. Loop number:  51  of 151  time:  2020-02-21 14:23:49.006027
Appending product  09MCD50K  data to the dataframe. Loop number:  52  of 151  time:  2020-02-21 14:23:49.123122
Appending product  09MCD500K  data to the dataframe. Loop number:  53  of 151  time:  2020-02-21 14:23:49.235656
Appending product  09MCD90K  data to the dataframe. Loop number:  54  of 151  time:  2020-02-21 14:23:49.353651
Appending product  12MCD1MIL  data to the dataframe. Loop number:  55  of 151  time:  2020-02-21 14:23:49.476129
Appending product  12MCD15K  data to the dataframe. Loop number:  56  of 151  time:  2020-02-21 14:23:49.600691
Appending product  12MCD20K  data to the dataframe. Loop number:  57  of 151  time:  2020-02-21 14:23:49.724130
Appending product  12MCD200K  data to the dataframe. Loop number:  58  of 151  time:  2020-02-21 14:23:49.851352
Appending product  12MCD35K  data to the dataframe. Loop number:  59  of 151  time:  2020-02-21 14:23:49.981531
Appending product  12MCD5K  data to the dataframe. Loop number:  60  of 151  time:  2020-02-21 14:23:50.121072
Appending product  12MCD500K  data to the dataframe. Loop number:  61  of 151  time:  2020-02-21 14:23:50.253817
Appending product  12MCD60K  data to the dataframe. Loop number:  62  of 151  time:  2020-02-21 14:23:50.391715
Appending product  12MCD75K  data to the dataframe. Loop number:  63  of 151  time:  2020-02-21 14:23:50.529440
Appending product  12MCD90K  data to the dataframe. Loop number:  64  of 151  time:  2020-02-21 14:23:50.668954
Appending product  12MCD40K  data to the dataframe. Loop number:  65  of 151  time:  2020-02-21 14:23:50.805424
Appending product  12MCD250K  data to the dataframe. Loop number:  66  of 151  time:  2020-02-21 14:23:50.952881
Appending product  18MCD40K  data to the dataframe. Loop number:  67  of 151  time:  2020-02-21 14:23:51.099736
Appending product  18MCD250K  data to the dataframe. Loop number:  68  of 151  time:  2020-02-21 14:23:51.251544
Appending product  18MCD15K  data to the dataframe. Loop number:  69  of 151  time:  2020-02-21 14:23:51.402843
Appending product  18MCD20K  data to the dataframe. Loop number:  70  of 151  time:  2020-02-21 14:23:51.557028
Appending product  18MCD200K  data to the dataframe. Loop number:  71  of 151  time:  2020-02-21 14:23:51.712328
Appending product  18MCD5K  data to the dataframe. Loop number:  72  of 151  time:  2020-02-21 14:23:51.870065
Appending product  18MCD500K  data to the dataframe. Loop number:  73  of 151  time:  2020-02-21 14:23:52.031149
Appending product  18MCD60K  data to the dataframe. Loop number:  74  of 151  time:  2020-02-21 14:23:52.194193
Appending product  18MCD75K  data to the dataframe. Loop number:  75  of 151  time:  2020-02-21 14:23:52.353079
Appending product  18MCD90K  data to the dataframe. Loop number:  76  of 151  time:  2020-02-21 14:23:52.514779
Appending product  24MCD15K  data to the dataframe. Loop number:  77  of 151  time:  2020-02-21 14:23:52.674600
Appending product  24MCD20K  data to the dataframe. Loop number:  78  of 151  time:  2020-02-21 14:23:52.841997
Appending product  24MCD200K  data to the dataframe. Loop number:  79  of 151  time:  2020-02-21 14:23:53.013687
Appending product  24MCD35K  data to the dataframe. Loop number:  80  of 151  time:  2020-02-21 14:23:53.185480
Appending product  24MCD5K  data to the dataframe. Loop number:  81  of 151  time:  2020-02-21 14:23:53.367877
Appending product  24MCD500K  data to the dataframe. Loop number:  82  of 151  time:  2020-02-21 14:23:53.540632
Appending product  24MCD60K  data to the dataframe. Loop number:  83  of 151  time:  2020-02-21 14:23:53.709012
Appending product  24MCD75K  data to the dataframe. Loop number:  84  of 151  time:  2020-02-21 14:23:53.880343
Appending product  24MCD90K  data to the dataframe. Loop number:  85  of 151  time:  2020-02-21 14:23:54.059333
Appending product  24MCD250K  data to the dataframe. Loop number:  86  of 151  time:  2020-02-21 14:23:54.239926
Appending product  30MCD15K  data to the dataframe. Loop number:  87  of 151  time:  2020-02-21 14:23:54.423687
Appending product  30MCD20K  data to the dataframe. Loop number:  88  of 151  time:  2020-02-21 14:23:54.597936
Appending product  30MCD200K  data to the dataframe. Loop number:  89  of 151  time:  2020-02-21 14:23:54.777647
Appending product  30MCD5K  data to the dataframe. Loop number:  90  of 151  time:  2020-02-21 14:23:54.968635
Appending product  30MCD500K  data to the dataframe. Loop number:  91  of 151  time:  2020-02-21 14:23:55.159169
Appending product  30MCD60K  data to the dataframe. Loop number:  92  of 151  time:  2020-02-21 14:23:55.353025
Appending product  30MCD75K  data to the dataframe. Loop number:  93  of 151  time:  2020-02-21 14:23:55.611667
Appending product  30MCD250K  data to the dataframe. Loop number:  94  of 151  time:  2020-02-21 14:23:55.805036
Appending product  30MCD90K  data to the dataframe. Loop number:  95  of 151  time:  2020-02-21 14:23:56.001060
Appending product  36MCD15K  data to the dataframe. Loop number:  96  of 151  time:  2020-02-21 14:23:56.198534
Appending product  36MCD20K  data to the dataframe. Loop number:  97  of 151  time:  2020-02-21 14:23:56.403420
Appending product  36MCD200K  data to the dataframe. Loop number:  98  of 151  time:  2020-02-21 14:23:56.606742
Appending product  36MCD30K  data to the dataframe. Loop number:  99  of 151  time:  2020-02-21 14:23:56.810896
Appending product  36MCD5K  data to the dataframe. Loop number:  100  of 151  time:  2020-02-21 14:23:57.017696
Appending product  36MCD500K  data to the dataframe. Loop number:  101  of 151  time:  2020-02-21 14:23:57.223168
Appending product  36MCD60K  data to the dataframe. Loop number:  102  of 151  time:  2020-02-21 14:23:57.436615
Appending product  36MCD75K  data to the dataframe. Loop number:  103  of 151  time:  2020-02-21 14:23:57.652322
Appending product  36MCD90K  data to the dataframe. Loop number:  104  of 151  time:  2020-02-21 14:23:57.865303
Appending product  36MCD40K  data to the dataframe. Loop number:  105  of 151  time:  2020-02-21 14:23:58.091191
Appending product  36MCD250K  data to the dataframe. Loop number:  106  of 151  time:  2020-02-21 14:23:58.312239
Appending product  48MCD15K  data to the dataframe. Loop number:  107  of 151  time:  2020-02-21 14:23:58.534304
Appending product  48MCD20K  data to the dataframe. Loop number:  108  of 151  time:  2020-02-21 14:23:58.745553
Appending product  48MCD200K  data to the dataframe. Loop number:  109  of 151  time:  2020-02-21 14:23:58.965188
Appending product  48MCD5K  data to the dataframe. Loop number:  110  of 151  time:  2020-02-21 14:23:59.186973
Appending product  48MCD500K  data to the dataframe. Loop number:  111  of 151  time:  2020-02-21 14:23:59.403819
Appending product  48MCD60K  data to the dataframe. Loop number:  112  of 151  time:  2020-02-21 14:23:59.636289
Appending product  48MCD75K  data to the dataframe. Loop number:  113  of 151  time:  2020-02-21 14:23:59.865406
Appending product  48MCD90K  data to the dataframe. Loop number:  114  of 151  time:  2020-02-21 14:24:00.097089
Appending product  48MCD40K  data to the dataframe. Loop number:  115  of 151  time:  2020-02-21 14:24:00.327135
Appending product  48MCD250K  data to the dataframe. Loop number:  116  of 151  time:  2020-02-21 14:24:00.561035
Appending product  60MCD40K  data to the dataframe. Loop number:  117  of 151  time:  2020-02-21 14:24:00.804404
Appending product  60MCD15K  data to the dataframe. Loop number:  118  of 151  time:  2020-02-21 14:24:01.108746
Appending product  60MCD20K  data to the dataframe. Loop number:  119  of 151  time:  2020-02-21 14:24:01.351684
Appending product  60MCD200K  data to the dataframe. Loop number:  120  of 151  time:  2020-02-21 14:24:01.595632
Appending product  60MCD5K  data to the dataframe. Loop number:  121  of 151  time:  2020-02-21 14:24:01.840349
Appending product  60MCD500K  data to the dataframe. Loop number:  122  of 151  time:  2020-02-21 14:24:02.090381
Appending product  60MCD60K  data to the dataframe. Loop number:  123  of 151  time:  2020-02-21 14:24:02.339687
Appending product  60MCD75K  data to the dataframe. Loop number:  124  of 151  time:  2020-02-21 14:24:02.594282
Appending product  60MCD90K  data to the dataframe. Loop number:  125  of 151  time:  2020-02-21 14:24:02.847652
Appending product  30MCD100K  data to the dataframe. Loop number:  126  of 151  time:  2020-02-21 14:24:03.100937
Appending product  03MCD100K  data to the dataframe. Loop number:  127  of 151  time:  2020-02-21 14:24:03.353927
Appending product  06MCD100K  data to the dataframe. Loop number:  128  of 151  time:  2020-02-21 14:24:03.613056
Appending product  09MCD10K  data to the dataframe. Loop number:  129  of 151  time:  2020-02-21 14:24:03.865040
Appending product  18MCD25K  data to the dataframe. Loop number:  130  of 151  time:  2020-02-21 14:24:04.120987
Appending product  30MCD25K  data to the dataframe. Loop number:  131  of 151  time:  2020-02-21 14:24:04.378047
Appending product  03MCD10K  data to the dataframe. Loop number:  132  of 151  time:  2020-02-21 14:24:04.642647
Appending product  06MCD25K  data to the dataframe. Loop number:  133  of 151  time:  2020-02-21 14:24:04.908185
Appending product  12MCD25K  data to the dataframe. Loop number:  134  of 151  time:  2020-02-21 14:24:05.168584
Appending product  18MCD50K  data to the dataframe. Loop number:  135  of 151  time:  2020-02-21 14:24:05.432033
Appending product  06MCD50K  data to the dataframe. Loop number:  136  of 151  time:  2020-02-21 14:24:05.699618
Appending product  24MCD25K  data to the dataframe. Loop number:  137  of 151  time:  2020-02-21 14:24:05.970620
Appending product  24MCD50K  data to the dataframe. Loop number:  138  of 151  time:  2020-02-21 14:24:06.242895
Appending product  60MCD10K  data to the dataframe. Loop number:  139  of 151  time:  2020-02-21 14:24:06.567234
Appending product  48MCD25K  data to the dataframe. Loop number:  140  of 151  time:  2020-02-21 14:24:06.845164
Appending product  60MCD25K  data to the dataframe. Loop number:  141  of 151  time:  2020-02-21 14:24:07.161332
Appending product  36MCD100K  data to the dataframe. Loop number:  142  of 151  time:  2020-02-21 14:24:07.460734
Appending product  48MCD100K  data to the dataframe. Loop number:  143  of 151  time:  2020-02-21 14:24:07.754181
Appending product  60MCD100K  data to the dataframe. Loop number:  144  of 151  time:  2020-02-21 14:24:08.053885
Appending product  60MCD50K  data to the dataframe. Loop number:  145  of 151  time:  2020-02-21 14:24:08.346646
Appending product  36MCD10K  data to the dataframe. Loop number:  146  of 151  time:  2020-02-21 14:24:08.630900
Appending product  48MCD10K  data to the dataframe. Loop number:  147  of 151  time:  2020-02-21 14:24:08.938567
Appending product  03MCD25K  data to the dataframe. Loop number:  148  of 151  time:  2020-02-21 14:24:09.231280
Appending product  12MCD50K  data to the dataframe. Loop number:  149  of 151  time:  2020-02-21 14:24:09.518651
Appending product  30MCD50K  data to the dataframe. Loop number:  150  of 151  time:  2020-02-21 14:24:09.814045
Appending product  48MCD50K  data to the dataframe. Loop number:  151  of 151  time:  2020-02-21 14:24:10.109027
     acct_nbr_loc 24MCD10K_acct_nbr_rt  ... 48MCD50K_rate  48MCD50K_surveydate
0      AK00100003           AK00100003  ...          1.79           2016-11-30
1      AK00100006           AK00100006  ...           NaN                  NaT
2      AK00400001           AK00400001  ...          1.10           2016-11-30
3      AK00400002           AK00400002  ...          1.74           2016-11-30
4      AL00100010           AL00100010  ...          0.56           2016-11-29
...           ...                  ...  ...           ...                  ...
8552   GA00700155                  NaN  ...           NaN                  NaT
8553   AL00900023                  NaN  ...           NaN                  NaT
8554   IL07400009                  NaN  ...           NaN                  NaT
8555   MI04900013                  NaN  ...           NaN                  NaT
8556   ID00100029                  NaN  ...           NaN                  NaT

[8557 rows x 1209 columns]

In [ ]:
gc.collect()

11

In [ ]:
i=1
df_blank2 = df_blank
#df_blank = df_blank.fillna(0)
import datetime
from functools import reduce
for key in pc_list_dict2:
  new_df = pd.DataFrame(pc_list_dict2[key])
  new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','productcode': key+'_productcode','surveydate': key+'_surveydate','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  df_blank2 = reduce(lambda x,y: pd.merge(x,y, on='acct_nbr_loc', how='outer'), [df_blank2, new_df])
  #gc.collect()
  #df_blank = pd.concat([df_blank,new_df], axis=1)
  #df_blank = df_blank.append(new_df, ignore_index=True)
  print('Appending product ',key,' data to the dataframe. Loop number: ',i,' of',len(key2),' time: ',datetime.datetime.utcnow())
  i=i+1
print(df_blank2)
wide2 = df_blank2.loc[:,~df_blank2.columns.duplicated()]
#wide2.to_csv("/content/drive/My Drive/key2.csv", index = False, sep='|',mode = 'w', encoding='utf-8')

Appending product  36MCD25K  data to the dataframe. Loop number:  1  of 151  time:  2020-02-21 14:24:10.711281
Appending product  FIXIRA50K  data to the dataframe. Loop number:  2  of 151  time:  2020-02-21 14:24:10.728738
Appending product  FIXIRA0K  data to the dataframe. Loop number:  3  of 151  time:  2020-02-21 14:24:10.747035
Appending product  INTCK5K  data to the dataframe. Loop number:  4  of 151  time:  2020-02-21 14:24:10.768282
Appending product  INTCK7.5K  data to the dataframe. Loop number:  5  of 151  time:  2020-02-21 14:24:10.790911
Appending product  INTCK8K  data to the dataframe. Loop number:  6  of 151  time:  2020-02-21 14:24:10.815311
Appending product  INTCK0K  data to the dataframe. Loop number:  7  of 151  time:  2020-02-21 14:24:10.841963
Appending product  INTCK2.5K  data to the dataframe. Loop number:  8  of 151  time:  2020-02-21 14:24:10.870610
Appending product  MM100K  data to the dataframe. Loop number:  9  of 151  time:  2020-02-21 14:24:10.900588
Appending product  MM20K  data to the dataframe. Loop number:  10  of 151  time:  2020-02-21 14:24:10.935534
Appending product  MM75K  data to the dataframe. Loop number:  11  of 151  time:  2020-02-21 14:24:10.970679
Appending product  MM3K  data to the dataframe. Loop number:  12  of 151  time:  2020-02-21 14:24:11.007608
Appending product  MM5K  data to the dataframe. Loop number:  13  of 151  time:  2020-02-21 14:24:11.046918
Appending product  MM15K  data to the dataframe. Loop number:  14  of 151  time:  2020-02-21 14:24:11.088502
Appending product  MM30K  data to the dataframe. Loop number:  15  of 151  time:  2020-02-21 14:24:11.132550
Appending product  MM35K  data to the dataframe. Loop number:  16  of 151  time:  2020-02-21 14:24:11.177837
Appending product  MM40K  data to the dataframe. Loop number:  17  of 151  time:  2020-02-21 14:24:11.223986
Appending product  MM10K  data to the dataframe. Loop number:  18  of 151  time:  2020-02-21 14:24:11.275751
Appending product  MM150K  data to the dataframe. Loop number:  19  of 151  time:  2020-02-21 14:24:11.327881
Appending product  MM300K  data to the dataframe. Loop number:  20  of 151  time:  2020-02-21 14:24:11.381968
Appending product  MM2.5K  data to the dataframe. Loop number:  21  of 151  time:  2020-02-21 14:24:11.439978
Appending product  MM25K  data to the dataframe. Loop number:  22  of 151  time:  2020-02-21 14:24:11.499244
Appending product  MM50K  data to the dataframe. Loop number:  23  of 151  time:  2020-02-21 14:24:11.558918
Appending product  MM45K  data to the dataframe. Loop number:  24  of 151  time:  2020-02-21 14:24:11.628334
Appending product  MM90K  data to the dataframe. Loop number:  25  of 151  time:  2020-02-21 14:24:11.696128
Appending product  MM200K  data to the dataframe. Loop number:  26  of 151  time:  2020-02-21 14:24:11.762172
Appending product  MM225K  data to the dataframe. Loop number:  27  of 151  time:  2020-02-21 14:24:11.830815
Appending product  MM250K  data to the dataframe. Loop number:  28  of 151  time:  2020-02-21 14:24:11.904210
Appending product  SAV10K  data to the dataframe. Loop number:  29  of 151  time:  2020-02-21 14:24:11.977955
Appending product  SAV5K  data to the dataframe. Loop number:  30  of 151  time:  2020-02-21 14:24:12.052733
Appending product  SAV25K  data to the dataframe. Loop number:  31  of 151  time:  2020-02-21 14:24:12.132752
Appending product  SAV1MILLION  data to the dataframe. Loop number:  32  of 151  time:  2020-02-21 14:24:12.213175
Appending product  SAV100  data to the dataframe. Loop number:  33  of 151  time:  2020-02-21 14:24:12.297378
Appending product  SAV100K  data to the dataframe. Loop number:  34  of 151  time:  2020-02-21 14:24:12.382702
Appending product  SAV15K  data to the dataframe. Loop number:  35  of 151  time:  2020-02-21 14:24:12.479190
Appending product  SAV150K  data to the dataframe. Loop number:  36  of 151  time:  2020-02-21 14:24:12.569655
Appending product  SAV2K  data to the dataframe. Loop number:  37  of 151  time:  2020-02-21 14:24:12.660760
Appending product  SAV20K  data to the dataframe. Loop number:  38  of 151  time:  2020-02-21 14:24:12.752722
Appending product  SAV250  data to the dataframe. Loop number:  39  of 151  time:  2020-02-21 14:24:12.854035
Appending product  SAV50K  data to the dataframe. Loop number:  40  of 151  time:  2020-02-21 14:24:12.950591
Appending product  SAV500  data to the dataframe. Loop number:  41  of 151  time:  2020-02-21 14:24:13.050213
Appending product  SAV500K  data to the dataframe. Loop number:  42  of 151  time:  2020-02-21 14:24:13.155286
Appending product  SAV90K  data to the dataframe. Loop number:  43  of 151  time:  2020-02-21 14:24:13.258151
Appending product  SAV1K  data to the dataframe. Loop number:  44  of 151  time:  2020-02-21 14:24:13.364152
Appending product  SAV2.5K  data to the dataframe. Loop number:  45  of 151  time:  2020-02-21 14:24:13.474231
Appending product  VARIRA0K  data to the dataframe. Loop number:  46  of 151  time:  2020-02-21 14:24:13.588907
Appending product  06MCD2.5K  data to the dataframe. Loop number:  47  of 151  time:  2020-02-21 14:24:13.699636
Appending product  03MCD1K  data to the dataframe. Loop number:  48  of 151  time:  2020-02-21 14:24:13.813938
Appending product  03MCD2.5K  data to the dataframe. Loop number:  49  of 151  time:  2020-02-21 14:24:13.928610
Appending product  06MCD1K  data to the dataframe. Loop number:  50  of 151  time:  2020-02-21 14:24:14.054074
Appending product  12MCD2.5K  data to the dataframe. Loop number:  51  of 151  time:  2020-02-21 14:24:14.181662
Appending product  12MCD1K  data to the dataframe. Loop number:  52  of 151  time:  2020-02-21 14:24:14.302467
Appending product  12MCD2K  data to the dataframe. Loop number:  53  of 151  time:  2020-02-21 14:24:14.421748
Appending product  24MCD1K  data to the dataframe. Loop number:  54  of 151  time:  2020-02-21 14:24:14.543468
Appending product  24MCD2.5K  data to the dataframe. Loop number:  55  of 151  time:  2020-02-21 14:24:14.667454
Appending product  36MCD1K  data to the dataframe. Loop number:  56  of 151  time:  2020-02-21 14:24:14.797078
Appending product  36MCD2.5K  data to the dataframe. Loop number:  57  of 151  time:  2020-02-21 14:24:14.925869
Appending product  48MCD1K  data to the dataframe. Loop number:  58  of 151  time:  2020-02-21 14:24:15.057938
Appending product  48MCD2.5K  data to the dataframe. Loop number:  59  of 151  time:  2020-02-21 14:24:15.195083
Appending product  48MCD4K  data to the dataframe. Loop number:  60  of 151  time:  2020-02-21 14:24:15.331732
Appending product  60MCD1K  data to the dataframe. Loop number:  61  of 151  time:  2020-02-21 14:24:15.469974
Appending product  60MCD2.5K  data to the dataframe. Loop number:  62  of 151  time:  2020-02-21 14:24:15.608043
Appending product  VARIRA 10K  data to the dataframe. Loop number:  63  of 151  time:  2020-02-21 14:24:15.747570
Appending product  VARIRA 25K  data to the dataframe. Loop number:  64  of 151  time:  2020-02-21 14:24:15.890172
Appending product  VARIRA2.5K  data to the dataframe. Loop number:  65  of 151  time:  2020-02-21 14:24:16.030894
Appending product  VARIRA50K  data to the dataframe. Loop number:  66  of 151  time:  2020-02-21 14:24:16.181999
Appending product  INTCK1K  data to the dataframe. Loop number:  67  of 151  time:  2020-02-21 14:24:16.335989
Appending product  INTCK1.5K  data to the dataframe. Loop number:  68  of 151  time:  2020-02-21 14:24:16.486812
Appending product  INTCK2K  data to the dataframe. Loop number:  69  of 151  time:  2020-02-21 14:24:16.646465
Appending product  MM1K  data to the dataframe. Loop number:  70  of 151  time:  2020-02-21 14:24:16.803645
Appending product  MM1.5K  data to the dataframe. Loop number:  71  of 151  time:  2020-02-21 14:24:16.960228
Appending product  MM2K  data to the dataframe. Loop number:  72  of 151  time:  2020-02-21 14:24:17.122889
Appending product  INTCK500  data to the dataframe. Loop number:  73  of 151  time:  2020-02-21 14:24:17.287478
Appending product  INTCK15K  data to the dataframe. Loop number:  74  of 151  time:  2020-02-21 14:24:17.456231
Appending product  INTCK16K  data to the dataframe. Loop number:  75  of 151  time:  2020-02-21 14:24:17.625072
Appending product  INTCK20K  data to the dataframe. Loop number:  76  of 151  time:  2020-02-21 14:24:17.795040
Appending product  INTCK25K  data to the dataframe. Loop number:  77  of 151  time:  2020-02-21 14:24:17.962106
Appending product  INTCK50K  data to the dataframe. Loop number:  78  of 151  time:  2020-02-21 14:24:18.131550
Appending product  INTCK75K  data to the dataframe. Loop number:  79  of 151  time:  2020-02-21 14:24:18.297129
Appending product  INTCK100K  data to the dataframe. Loop number:  80  of 151  time:  2020-02-21 14:24:18.468020
Appending product  INTCK200K  data to the dataframe. Loop number:  81  of 151  time:  2020-02-21 14:24:18.637703
Appending product  INTCK250K  data to the dataframe. Loop number:  82  of 151  time:  2020-02-21 14:24:18.817558
Appending product  INTCK500K  data to the dataframe. Loop number:  83  of 151  time:  2020-02-21 14:24:18.993567
Appending product  INTCK1M  data to the dataframe. Loop number:  84  of 151  time:  2020-02-21 14:24:19.173869
Appending product  INTCK2.5MIL  data to the dataframe. Loop number:  85  of 151  time:  2020-02-21 14:24:19.353543
Appending product  INTCK5MIL  data to the dataframe. Loop number:  86  of 151  time:  2020-02-21 14:24:19.537888
Appending product  INTCK10K  data to the dataframe. Loop number:  87  of 151  time:  2020-02-21 14:24:19.719060
Appending product  03MCD500  data to the dataframe. Loop number:  88  of 151  time:  2020-02-21 14:24:19.908442
Appending product  06MCD500  data to the dataframe. Loop number:  89  of 151  time:  2020-02-21 14:24:20.099493
Appending product  12MCD500  data to the dataframe. Loop number:  90  of 151  time:  2020-02-21 14:24:20.294788
Appending product  18MCD1K  data to the dataframe. Loop number:  91  of 151  time:  2020-02-21 14:24:20.485103
Appending product  18MCD2.5K  data to the dataframe. Loop number:  92  of 151  time:  2020-02-21 14:24:20.678883
Appending product  18MCD4K  data to the dataframe. Loop number:  93  of 151  time:  2020-02-21 14:24:20.937291
Appending product  18MCD500  data to the dataframe. Loop number:  94  of 151  time:  2020-02-21 14:24:21.132830
Appending product  24MCD500  data to the dataframe. Loop number:  95  of 151  time:  2020-02-21 14:24:21.337443
Appending product  30MCD1K  data to the dataframe. Loop number:  96  of 151  time:  2020-02-21 14:24:21.538214
Appending product  30MCD2.5K  data to the dataframe. Loop number:  97  of 151  time:  2020-02-21 14:24:21.747364
Appending product  30MCD500  data to the dataframe. Loop number:  98  of 151  time:  2020-02-21 14:24:21.956962
Appending product  36MCD500  data to the dataframe. Loop number:  99  of 151  time:  2020-02-21 14:24:22.162665
Appending product  48MCD500  data to the dataframe. Loop number:  100  of 151  time:  2020-02-21 14:24:22.372907
Appending product  60MCD500  data to the dataframe. Loop number:  101  of 151  time:  2020-02-21 14:24:22.589235
Appending product  BUSMM75K  data to the dataframe. Loop number:  102  of 151  time:  2020-02-21 14:24:22.804598
Appending product  BUSMM750K  data to the dataframe. Loop number:  103  of 151  time:  2020-02-21 14:24:23.022193
Appending product  BUSMM150K  data to the dataframe. Loop number:  104  of 151  time:  2020-02-21 14:24:23.246954
Appending product  BUSMM25K  data to the dataframe. Loop number:  105  of 151  time:  2020-02-21 14:24:23.470090
Appending product  BUSMM100K  data to the dataframe. Loop number:  106  of 151  time:  2020-02-21 14:24:23.692168
Appending product  BUSMM50K  data to the dataframe. Loop number:  107  of 151  time:  2020-02-21 14:24:23.919427
Appending product  BUSMM200K  data to the dataframe. Loop number:  108  of 151  time:  2020-02-21 14:24:24.149211
Appending product  BUSMM20K  data to the dataframe. Loop number:  109  of 151  time:  2020-02-21 14:24:24.390564
Appending product  BUSMM250K  data to the dataframe. Loop number:  110  of 151  time:  2020-02-21 14:24:24.625584
Appending product  BUSMM300K  data to the dataframe. Loop number:  111  of 151  time:  2020-02-21 14:24:24.859708
Appending product  BUSMM400K  data to the dataframe. Loop number:  112  of 151  time:  2020-02-21 14:24:25.096658
Appending product  BUSMM500K  data to the dataframe. Loop number:  113  of 151  time:  2020-02-21 14:24:25.340816
Appending product  BUSMM1M  data to the dataframe. Loop number:  114  of 151  time:  2020-02-21 14:24:25.583544
Appending product  BUSMM1.5M  data to the dataframe. Loop number:  115  of 151  time:  2020-02-21 14:24:25.829622
Appending product  BUSMM5M  data to the dataframe. Loop number:  116  of 151  time:  2020-02-21 14:24:26.077720
Appending product  01MCD2.5K  data to the dataframe. Loop number:  117  of 151  time:  2020-02-21 14:24:26.333876
Appending product  09MCD1K  data to the dataframe. Loop number:  118  of 151  time:  2020-02-21 14:24:26.646388
Appending product  09MCD2.5K  data to the dataframe. Loop number:  119  of 151  time:  2020-02-21 14:24:26.896416
Appending product  MM500K  data to the dataframe. Loop number:  120  of 151  time:  2020-02-21 14:24:27.156832
Appending product  MM750K  data to the dataframe. Loop number:  121  of 151  time:  2020-02-21 14:24:27.411956
Appending product  MM1MILLION  data to the dataframe. Loop number:  122  of 151  time:  2020-02-21 14:24:27.674878
Appending product  MM2.5MIL  data to the dataframe. Loop number:  123  of 151  time:  2020-02-21 14:24:27.937749
Appending product  MM5MIL  data to the dataframe. Loop number:  124  of 151  time:  2020-02-21 14:24:28.205650
Appending product  06MCD0K  data to the dataframe. Loop number:  125  of 151  time:  2020-02-21 14:24:28.477025
Appending product  12MCD0K  data to the dataframe. Loop number:  126  of 151  time:  2020-02-21 14:24:28.740514
Appending product  18MCD0K  data to the dataframe. Loop number:  127  of 151  time:  2020-02-21 14:24:29.009816
Appending product  24MCD0K  data to the dataframe. Loop number:  128  of 151  time:  2020-02-21 14:24:29.280734
Appending product  30MCD0K  data to the dataframe. Loop number:  129  of 151  time:  2020-02-21 14:24:29.554616
Appending product  36MCD0K  data to the dataframe. Loop number:  130  of 151  time:  2020-02-21 14:24:29.836866
Appending product  48MCD0K  data to the dataframe. Loop number:  131  of 151  time:  2020-02-21 14:24:30.107469
Appending product  60MCD0K  data to the dataframe. Loop number:  132  of 151  time:  2020-02-21 14:24:30.378713
Appending product  MM0K  data to the dataframe. Loop number:  133  of 151  time:  2020-02-21 14:24:30.651938
Appending product  01MCD1K  data to the dataframe. Loop number:  134  of 151  time:  2020-02-21 14:24:30.932844
Appending product  48MBSCD10K  data to the dataframe. Loop number:  135  of 151  time:  2020-02-21 14:24:31.218959
Appending product  03MBSCD10K  data to the dataframe. Loop number:  136  of 151  time:  2020-02-21 14:24:31.498853
Appending product  36MBSCD10K  data to the dataframe. Loop number:  137  of 151  time:  2020-02-21 14:24:31.782108
Appending product  01MBSCD250K  data to the dataframe. Loop number:  138  of 151  time:  2020-02-21 14:24:32.063796
Appending product  02MBSCD250K  data to the dataframe. Loop number:  139  of 151  time:  2020-02-21 14:24:32.407360
Appending product  03MBSCD100K  data to the dataframe. Loop number:  140  of 151  time:  2020-02-21 14:24:32.692352
Appending product  03MBSCD250K  data to the dataframe. Loop number:  141  of 151  time:  2020-02-21 14:24:32.978971
Appending product  06MBSCD50K  data to the dataframe. Loop number:  142  of 151  time:  2020-02-21 14:24:33.273494
Appending product  06MBSCD250K  data to the dataframe. Loop number:  143  of 151  time:  2020-02-21 14:24:33.567010
Appending product  06MBSCD10K  data to the dataframe. Loop number:  144  of 151  time:  2020-02-21 14:24:33.866892
Appending product  12MBSCD50K  data to the dataframe. Loop number:  145  of 151  time:  2020-02-21 14:24:34.162779
Appending product  12MBSCD10K  data to the dataframe. Loop number:  146  of 151  time:  2020-02-21 14:24:34.461446
Appending product  12MBSCD250K  data to the dataframe. Loop number:  147  of 151  time:  2020-02-21 14:24:34.774625
Appending product  18MBSCD10K  data to the dataframe. Loop number:  148  of 151  time:  2020-02-21 14:24:35.076537
Appending product  18MBSCD50K  data to the dataframe. Loop number:  149  of 151  time:  2020-02-21 14:24:35.384856
Appending product  24MBSCD10K  data to the dataframe. Loop number:  150  of 151  time:  2020-02-21 14:24:35.693199
Appending product  24MBSCD250K  data to the dataframe. Loop number:  151  of 151  time:  2020-02-21 14:24:36.006523
     acct_nbr_loc 36MCD25K_acct_nbr_rt  ... 24MBSCD250K_rate  24MBSCD250K_surveydate
0      AK00100003           AK00100003  ...              NaN                     NaT
1      AK00100006                  NaN  ...              NaN                     NaT
2      AK00400001           AK00400001  ...              NaN                     NaT
3      AK00400002           AK00400002  ...              NaN                     NaT
4      AL00100010           AL00100010  ...              NaN                     NaT
...           ...                  ...  ...              ...                     ...
8552   GA00700155                  NaN  ...              NaN                     NaT
8553   AL00900023                  NaN  ...              NaN                     NaT
8554   IL07400009                  NaN  ...              NaN                     NaT
8555   MI04900013                  NaN  ...              NaN                     NaT
8556   ID00100029                  NaN  ...              NaN                     NaT

[8557 rows x 1209 columns]

In [ ]:
gc.collect()

11

In [ ]:
i=1
df_blank3 = df_blank
#df_blank = df_blank.fillna(0)
import datetime
from functools import reduce
for key in pc_list_dict3:
  new_df = pd.DataFrame(pc_list_dict3[key])
  new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','productcode': key+'_productcode','surveydate': key+'_surveydate','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  df_blank3 = reduce(lambda x,y: pd.merge(x,y, on='acct_nbr_loc', how='outer'), [df_blank3, new_df])
  #gc.collect()
  #df_blank = pd.concat([df_blank,new_df], axis=1)
  #df_blank = df_blank.append(new_df, ignore_index=True)
  print('Appending product ',key,' data to the dataframe. Loop number: ',i,' of',len(key3),' time: ',datetime.datetime.utcnow())
  i=i+1
print(df_blank3)
wide3 = df_blank3.loc[:,~df_blank3.columns.duplicated()]
#wide3.to_csv("/content/drive/My Drive/key3.csv", index = False, sep='|',mode = 'w', encoding='utf-8')

Appending product  24MBSCD50K  data to the dataframe. Loop number:  1  of 151  time:  2020-02-21 14:24:36.496165
Appending product  36MBSCD250K  data to the dataframe. Loop number:  2  of 151  time:  2020-02-21 14:24:36.511419
Appending product  36MBSCD50K  data to the dataframe. Loop number:  3  of 151  time:  2020-02-21 14:24:36.526139
Appending product  48MBSCD250K  data to the dataframe. Loop number:  4  of 151  time:  2020-02-21 14:24:36.542355
Appending product  48MBSCD50K  data to the dataframe. Loop number:  5  of 151  time:  2020-02-21 14:24:36.562130
Appending product  60MBSCD250K  data to the dataframe. Loop number:  6  of 151  time:  2020-02-21 14:24:36.582057
Appending product  60MBSCD50K  data to the dataframe. Loop number:  7  of 151  time:  2020-02-21 14:24:36.602693
Appending product  60MBSCD10K  data to the dataframe. Loop number:  8  of 151  time:  2020-02-21 14:24:36.626539
Appending product  06MBSCD100K  data to the dataframe. Loop number:  9  of 151  time:  2020-02-21 14:24:36.651839
Appending product  12MBSCD100K  data to the dataframe. Loop number:  10  of 151  time:  2020-02-21 14:24:36.681431
Appending product  09MBSCD100K  data to the dataframe. Loop number:  11  of 151  time:  2020-02-21 14:24:36.712981
Appending product  24MBSCD100K  data to the dataframe. Loop number:  12  of 151  time:  2020-02-21 14:24:36.742620
Appending product  18MBSCD100K  data to the dataframe. Loop number:  13  of 151  time:  2020-02-21 14:24:36.774782
Appending product  36MBSCD100K  data to the dataframe. Loop number:  14  of 151  time:  2020-02-21 14:24:36.806441
Appending product  48MBSCD100K  data to the dataframe. Loop number:  15  of 151  time:  2020-02-21 14:24:36.841849
Appending product  60MBSCD100K  data to the dataframe. Loop number:  16  of 151  time:  2020-02-21 14:24:36.877890
Appending product  BUSIC3K  data to the dataframe. Loop number:  17  of 151  time:  2020-02-21 14:24:36.924099
Appending product  BUSIC5K  data to the dataframe. Loop number:  18  of 151  time:  2020-02-21 14:24:36.969137
Appending product  BUSIC20K  data to the dataframe. Loop number:  19  of 151  time:  2020-02-21 14:24:37.012760
Appending product  BUSIC75K  data to the dataframe. Loop number:  20  of 151  time:  2020-02-21 14:24:37.054911
Appending product  BUSIC50K  data to the dataframe. Loop number:  21  of 151  time:  2020-02-21 14:24:37.101167
Appending product  BUSIC25K  data to the dataframe. Loop number:  22  of 151  time:  2020-02-21 14:24:37.151841
Appending product  BUSIC100K  data to the dataframe. Loop number:  23  of 151  time:  2020-02-21 14:24:37.204078
Appending product  BUSIC1K  data to the dataframe. Loop number:  24  of 151  time:  2020-02-21 14:24:37.254525
Appending product  BUSIC1.5K  data to the dataframe. Loop number:  25  of 151  time:  2020-02-21 14:24:37.310215
Appending product  BUSIC250K  data to the dataframe. Loop number:  26  of 151  time:  2020-02-21 14:24:37.368391
Appending product  BUSIC300K  data to the dataframe. Loop number:  27  of 151  time:  2020-02-21 14:24:37.428169
Appending product  BUSIC2.5K  data to the dataframe. Loop number:  28  of 151  time:  2020-02-21 14:24:37.487345
Appending product  BUSIC10K  data to the dataframe. Loop number:  29  of 151  time:  2020-02-21 14:24:37.549364
Appending product  BUSIC15K  data to the dataframe. Loop number:  30  of 151  time:  2020-02-21 14:24:37.615200
Appending product  BUSIC150K  data to the dataframe. Loop number:  31  of 151  time:  2020-02-21 14:24:37.681362
Appending product  BUSIC500K  data to the dataframe. Loop number:  32  of 151  time:  2020-02-21 14:24:37.750147
Appending product  BUSIC1M  data to the dataframe. Loop number:  33  of 151  time:  2020-02-21 14:24:37.823498
Appending product  BUSIC1.5M  data to the dataframe. Loop number:  34  of 151  time:  2020-02-21 14:24:37.896246
Appending product  BUSMM10K  data to the dataframe. Loop number:  35  of 151  time:  2020-02-21 14:24:37.968825
Appending product  BUSMM2.5K  data to the dataframe. Loop number:  36  of 151  time:  2020-02-21 14:24:38.048241
Appending product  BUSMM3K  data to the dataframe. Loop number:  37  of 151  time:  2020-02-21 14:24:38.122830
Appending product  BUSMM5K  data to the dataframe. Loop number:  38  of 151  time:  2020-02-21 14:24:38.195044
Appending product  02MCD100K  data to the dataframe. Loop number:  39  of 151  time:  2020-02-21 14:24:38.276929
Appending product  02MCD10K  data to the dataframe. Loop number:  40  of 151  time:  2020-02-21 14:24:38.357899
Appending product  15MCD250K  data to the dataframe. Loop number:  41  of 151  time:  2020-02-21 14:24:38.442359
Appending product  15MCD500K  data to the dataframe. Loop number:  42  of 151  time:  2020-02-21 14:24:38.531170
Appending product  15MCD10K  data to the dataframe. Loop number:  43  of 151  time:  2020-02-21 14:24:38.622713
Appending product  02MCD1K  data to the dataframe. Loop number:  44  of 151  time:  2020-02-21 14:24:38.711754
Appending product  02MCD20K  data to the dataframe. Loop number:  45  of 151  time:  2020-02-21 14:24:38.802731
Appending product  02MCD25K  data to the dataframe. Loop number:  46  of 151  time:  2020-02-21 14:24:38.892522
Appending product  02MCD250K  data to the dataframe. Loop number:  47  of 151  time:  2020-02-21 14:24:38.984664
Appending product  02MCD50K  data to the dataframe. Loop number:  48  of 151  time:  2020-02-21 14:24:39.081929
Appending product  04MCD10K  data to the dataframe. Loop number:  49  of 151  time:  2020-02-21 14:24:39.177212
Appending product  04MCD100K  data to the dataframe. Loop number:  50  of 151  time:  2020-02-21 14:24:39.278428
Appending product  04MCD50K  data to the dataframe. Loop number:  51  of 151  time:  2020-02-21 14:24:39.373718
Appending product  05MCD100K  data to the dataframe. Loop number:  52  of 151  time:  2020-02-21 14:24:39.472520
Appending product  05MCD50K  data to the dataframe. Loop number:  53  of 151  time:  2020-02-21 14:24:39.578215
Appending product  07MCD10K  data to the dataframe. Loop number:  54  of 151  time:  2020-02-21 14:24:39.685797
Appending product  07MCD100K  data to the dataframe. Loop number:  55  of 151  time:  2020-02-21 14:24:39.786653
Appending product  07MCD50K  data to the dataframe. Loop number:  56  of 151  time:  2020-02-21 14:24:39.888465
Appending product  08MCD10K  data to the dataframe. Loop number:  57  of 151  time:  2020-02-21 14:24:40.005445
Appending product  08MCD100K  data to the dataframe. Loop number:  58  of 151  time:  2020-02-21 14:24:40.121021
Appending product  10MCD10K  data to the dataframe. Loop number:  59  of 151  time:  2020-02-21 14:24:40.243199
Appending product  10MCD100K  data to the dataframe. Loop number:  60  of 151  time:  2020-02-21 14:24:40.363276
Appending product  11MCD10K  data to the dataframe. Loop number:  61  of 151  time:  2020-02-21 14:24:40.486213
Appending product  11MCD100K  data to the dataframe. Loop number:  62  of 151  time:  2020-02-21 14:24:40.607372
Appending product  13MCD1K  data to the dataframe. Loop number:  63  of 151  time:  2020-02-21 14:24:40.731799
Appending product  13MCD10K  data to the dataframe. Loop number:  64  of 151  time:  2020-02-21 14:24:40.855876
Appending product  13MCD5K  data to the dataframe. Loop number:  65  of 151  time:  2020-02-21 14:24:40.991067
Appending product  14MCD10K  data to the dataframe. Loop number:  66  of 151  time:  2020-02-21 14:24:41.123382
Appending product  15MCD1K  data to the dataframe. Loop number:  67  of 151  time:  2020-02-21 14:24:41.257095
Appending product  15MCD100K  data to the dataframe. Loop number:  68  of 151  time:  2020-02-21 14:24:41.388254
Appending product  15MCD5K  data to the dataframe. Loop number:  69  of 151  time:  2020-02-21 14:24:41.528089
Appending product  15MCD50K  data to the dataframe. Loop number:  70  of 151  time:  2020-02-21 14:24:41.662866
Appending product  17MCD10K  data to the dataframe. Loop number:  71  of 151  time:  2020-02-21 14:24:41.807467
Appending product  19MCD10K  data to the dataframe. Loop number:  72  of 151  time:  2020-02-21 14:24:41.947238
Appending product  21MCD10K  data to the dataframe. Loop number:  73  of 151  time:  2020-02-21 14:24:42.091674
Appending product  21MCD100K  data to the dataframe. Loop number:  74  of 151  time:  2020-02-21 14:24:42.234199
Appending product  23MCD10K  data to the dataframe. Loop number:  75  of 151  time:  2020-02-21 14:24:42.385582
Appending product  27MCD10K  data to the dataframe. Loop number:  76  of 151  time:  2020-02-21 14:24:42.530532
Appending product  33MCD10K  data to the dataframe. Loop number:  77  of 151  time:  2020-02-21 14:24:42.677422
Appending product  37MCD10K  data to the dataframe. Loop number:  78  of 151  time:  2020-02-21 14:24:42.825494
Appending product  42MCD1K  data to the dataframe. Loop number:  79  of 151  time:  2020-02-21 14:24:42.974196
Appending product  42MCD10K  data to the dataframe. Loop number:  80  of 151  time:  2020-02-21 14:24:43.127332
Appending product  42MCD2.5K  data to the dataframe. Loop number:  81  of 151  time:  2020-02-21 14:24:43.286485
Appending product  42MCD25K  data to the dataframe. Loop number:  82  of 151  time:  2020-02-21 14:24:43.442155
Appending product  42MCD50K  data to the dataframe. Loop number:  83  of 151  time:  2020-02-21 14:24:43.604265
Appending product  42MCD500  data to the dataframe. Loop number:  84  of 151  time:  2020-02-21 14:24:43.827671
Appending product  50MCD10K  data to the dataframe. Loop number:  85  of 151  time:  2020-02-21 14:24:43.988039
Appending product  54MCD10K  data to the dataframe. Loop number:  86  of 151  time:  2020-02-21 14:24:44.153886
Appending product  54MCD500  data to the dataframe. Loop number:  87  of 151  time:  2020-02-21 14:24:44.321869
Appending product  54MCD5K  data to the dataframe. Loop number:  88  of 151  time:  2020-02-21 14:24:44.489446
Appending product  36MFIRA10K  data to the dataframe. Loop number:  89  of 151  time:  2020-02-21 14:24:44.659556
Appending product  60MFIRA10K  data to the dataframe. Loop number:  90  of 151  time:  2020-02-21 14:24:44.838116
Appending product  01MFIRA10K  data to the dataframe. Loop number:  91  of 151  time:  2020-02-21 14:24:45.013261
Appending product  02MFIRA10K  data to the dataframe. Loop number:  92  of 151  time:  2020-02-21 14:24:45.198491
Appending product  03MFIRA1K  data to the dataframe. Loop number:  93  of 151  time:  2020-02-21 14:24:45.373866
Appending product  03MFIRA10K  data to the dataframe. Loop number:  94  of 151  time:  2020-02-21 14:24:45.553417
Appending product  03MFIRA100K  data to the dataframe. Loop number:  95  of 151  time:  2020-02-21 14:24:45.731143
Appending product  03MFIRA25K  data to the dataframe. Loop number:  96  of 151  time:  2020-02-21 14:24:45.911541
Appending product  03MFIRA50K  data to the dataframe. Loop number:  97  of 151  time:  2020-02-21 14:24:46.092875
Appending product  03MFIRA500  data to the dataframe. Loop number:  98  of 151  time:  2020-02-21 14:24:46.278419
Appending product  06MFIRA1K  data to the dataframe. Loop number:  99  of 151  time:  2020-02-21 14:24:46.464061
Appending product  06MFIRA10K  data to the dataframe. Loop number:  100  of 151  time:  2020-02-21 14:24:46.654551
Appending product  06MFIRA100K  data to the dataframe. Loop number:  101  of 151  time:  2020-02-21 14:24:46.846830
Appending product  06MFIRA25K  data to the dataframe. Loop number:  102  of 151  time:  2020-02-21 14:24:47.041260
Appending product  06MFIRA50K  data to the dataframe. Loop number:  103  of 151  time:  2020-02-21 14:24:47.232159
Appending product  06MFIRA500  data to the dataframe. Loop number:  104  of 151  time:  2020-02-21 14:24:47.426302
Appending product  12FIRA2K  data to the dataframe. Loop number:  105  of 151  time:  2020-02-21 14:24:47.622503
Appending product  12MFIRA1K  data to the dataframe. Loop number:  106  of 151  time:  2020-02-21 14:24:47.838018
Appending product  12MFIRA10K  data to the dataframe. Loop number:  107  of 151  time:  2020-02-21 14:24:48.057870
Appending product  12MFIRA100K  data to the dataframe. Loop number:  108  of 151  time:  2020-02-21 14:24:48.274050
Appending product  12MFIRA2.5K  data to the dataframe. Loop number:  109  of 151  time:  2020-02-21 14:24:48.492925
Appending product  12MFIRA25K  data to the dataframe. Loop number:  110  of 151  time:  2020-02-21 14:24:48.698758
Appending product  12MFIRA50K  data to the dataframe. Loop number:  111  of 151  time:  2020-02-21 14:24:48.906911
Appending product  12MFIRA500  data to the dataframe. Loop number:  112  of 151  time:  2020-02-21 14:24:49.121842
Appending product  18MFIRA1K  data to the dataframe. Loop number:  113  of 151  time:  2020-02-21 14:24:49.396620
Appending product  18MFIRA10K  data to the dataframe. Loop number:  114  of 151  time:  2020-02-21 14:24:49.614010
Appending product  18MFIRA25K  data to the dataframe. Loop number:  115  of 151  time:  2020-02-21 14:24:49.842190
Appending product  18MFIRA50K  data to the dataframe. Loop number:  116  of 151  time:  2020-02-21 14:24:50.063907
Appending product  18MFIRA500  data to the dataframe. Loop number:  117  of 151  time:  2020-02-21 14:24:50.287873
Appending product  18MOFIRA4K  data to the dataframe. Loop number:  118  of 151  time:  2020-02-21 14:24:50.512774
Appending product  24FIRA2K  data to the dataframe. Loop number:  119  of 151  time:  2020-02-21 14:24:50.734571
Appending product  24MFIRA1K  data to the dataframe. Loop number:  120  of 151  time:  2020-02-21 14:24:50.964827
Appending product  24MFIRA10K  data to the dataframe. Loop number:  121  of 151  time:  2020-02-21 14:24:51.193712
Appending product  24MFIRA100K  data to the dataframe. Loop number:  122  of 151  time:  2020-02-21 14:24:51.420979
Appending product  24MFIRA2.5K  data to the dataframe. Loop number:  123  of 151  time:  2020-02-21 14:24:51.648506
Appending product  24MFIRA25K  data to the dataframe. Loop number:  124  of 151  time:  2020-02-21 14:24:51.881585
Appending product  24MFIRA50K  data to the dataframe. Loop number:  125  of 151  time:  2020-02-21 14:24:52.117645
Appending product  24MFIRA500  data to the dataframe. Loop number:  126  of 151  time:  2020-02-21 14:24:52.354656
Appending product  30MFIRA1K  data to the dataframe. Loop number:  127  of 151  time:  2020-02-21 14:24:52.590796
Appending product  30MFIRA10K  data to the dataframe. Loop number:  128  of 151  time:  2020-02-21 14:24:52.825645
Appending product  30MFIRA25K  data to the dataframe. Loop number:  129  of 151  time:  2020-02-21 14:24:53.064385
Appending product  30MFIRA50K  data to the dataframe. Loop number:  130  of 151  time:  2020-02-21 14:24:53.308471
Appending product  30MFIRA500  data to the dataframe. Loop number:  131  of 151  time:  2020-02-21 14:24:53.548138
Appending product  36MFIRA1K  data to the dataframe. Loop number:  132  of 151  time:  2020-02-21 14:24:53.802444
Appending product  36MFIRA100K  data to the dataframe. Loop number:  133  of 151  time:  2020-02-21 14:24:54.051581
Appending product  36MFIRA25K  data to the dataframe. Loop number:  134  of 151  time:  2020-02-21 14:24:54.360392
Appending product  36MFIRA50K  data to the dataframe. Loop number:  135  of 151  time:  2020-02-21 14:24:54.614171
Appending product  36MFIRA500  data to the dataframe. Loop number:  136  of 151  time:  2020-02-21 14:24:54.868637
Appending product  48MFIRA10K  data to the dataframe. Loop number:  137  of 151  time:  2020-02-21 14:24:55.130998
Appending product  48MFIRA1K  data to the dataframe. Loop number:  138  of 151  time:  2020-02-21 14:24:55.390157
Appending product  48MFIRA100K  data to the dataframe. Loop number:  139  of 151  time:  2020-02-21 14:24:55.650817
Appending product  48MFIRA25K  data to the dataframe. Loop number:  140  of 151  time:  2020-02-21 14:24:55.912434
Appending product  48MFIRA50K  data to the dataframe. Loop number:  141  of 151  time:  2020-02-21 14:24:56.173440
Appending product  48MFIRA500  data to the dataframe. Loop number:  142  of 151  time:  2020-02-21 14:24:56.435698
Appending product  60MFIRA1K  data to the dataframe. Loop number:  143  of 151  time:  2020-02-21 14:24:56.699326
Appending product  60MFIRA100K  data to the dataframe. Loop number:  144  of 151  time:  2020-02-21 14:24:56.965672
Appending product  60MFIRA25K  data to the dataframe. Loop number:  145  of 151  time:  2020-02-21 14:24:57.229595
Appending product  60MFIRA50K  data to the dataframe. Loop number:  146  of 151  time:  2020-02-21 14:24:57.497808
Appending product  60MFIRA500  data to the dataframe. Loop number:  147  of 151  time:  2020-02-21 14:24:57.764134
Appending product  PREMMM40K  data to the dataframe. Loop number:  148  of 151  time:  2020-02-21 14:24:58.033273
Appending product  PREMMM45K  data to the dataframe. Loop number:  149  of 151  time:  2020-02-21 14:24:58.305836
Appending product  PREMMM100K  data to the dataframe. Loop number:  150  of 151  time:  2020-02-21 14:24:58.576657
Appending product  PREMMM50K  data to the dataframe. Loop number:  151  of 151  time:  2020-02-21 14:24:58.852384
     acct_nbr_loc 24MBSCD50K_acct_nbr_rt  ... PREMMM50K_rate  PREMMM50K_surveydate
0      AK00100003                    NaN  ...          0.245            2016-11-30
1      AK00100006                    NaN  ...            NaN                   NaT
2      AK00400001             AK00400001  ...          0.250            2016-11-30
3      AK00400002                    NaN  ...            NaN                   NaT
4      AL00100010                    NaN  ...            NaN                   NaT
...           ...                    ...  ...            ...                   ...
8552   GA00700155                    NaN  ...            NaN                   NaT
8553   AL00900023                    NaN  ...            NaN                   NaT
8554   IL07400009                    NaN  ...            NaN                   NaT
8555   MI04900013                    NaN  ...            NaN                   NaT
8556   ID00100029                    NaN  ...            NaN                   NaT

[8557 rows x 1209 columns]

In [ ]:
i=1
df_blank4 = df_blank
#df_blank = df_blank.fillna(0)
import datetime
from functools import reduce
for key in pc_list_dict4:
  new_df = pd.DataFrame(pc_list_dict4[key])
  new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','productcode': key+'_productcode','surveydate': key+'_surveydate','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  df_blank4 = reduce(lambda x,y: pd.merge(x,y, on='acct_nbr_loc', how='outer'), [df_blank4, new_df])
  #gc.collect()
  #df_blank = pd.concat([df_blank,new_df], axis=1)
  #df_blank = df_blank.append(new_df, ignore_index=True)
  print('Appending product ',key,' data to the dataframe. Loop number: ',i,' of',len(key4),' time: ',datetime.datetime.utcnow())
  i=i+1
print(df_blank4)
wide4 = df_blank4.loc[:,~df_blank4.columns.duplicated()]
#wide4.to_csv("/content/drive/My Drive/key4.csv", index = False, sep='|',mode = 'w', encoding='utf-8')

Appending product  PREMMM150K  data to the dataframe. Loop number:  1  of 151  time:  2020-02-21 14:24:59.255120
Appending product  PREMMM75K  data to the dataframe. Loop number:  2  of 151  time:  2020-02-21 14:24:59.268463
Appending product  PREMMM500K  data to the dataframe. Loop number:  3  of 151  time:  2020-02-21 14:24:59.283245
Appending product  PREMMM1MILL  data to the dataframe. Loop number:  4  of 151  time:  2020-02-21 14:24:59.299628
Appending product  PREMMM25K  data to the dataframe. Loop number:  5  of 151  time:  2020-02-21 14:24:59.319555
Appending product  PREMMM200K  data to the dataframe. Loop number:  6  of 151  time:  2020-02-21 14:24:59.340927
Appending product  PREMMM250K  data to the dataframe. Loop number:  7  of 151  time:  2020-02-21 14:24:59.362860
Appending product  PREMMM300K  data to the dataframe. Loop number:  8  of 151  time:  2020-02-21 14:24:59.387746
Appending product  PREMMM400K  data to the dataframe. Loop number:  9  of 151  time:  2020-02-21 14:24:59.414179
Appending product  PREMMM2.5M  data to the dataframe. Loop number:  10  of 151  time:  2020-02-21 14:24:59.443290
Appending product  PREMMM5MIL  data to the dataframe. Loop number:  11  of 151  time:  2020-02-21 14:24:59.474177
Appending product  BUSIC500  data to the dataframe. Loop number:  12  of 151  time:  2020-02-21 14:24:59.507107
Appending product  BUSMM1K  data to the dataframe. Loop number:  13  of 151  time:  2020-02-21 14:24:59.543127
Appending product  E-INTCK1K  data to the dataframe. Loop number:  14  of 151  time:  2020-02-21 14:24:59.579027
Appending product  E-INTCK2.5K  data to the dataframe. Loop number:  15  of 151  time:  2020-02-21 14:24:59.616858
Appending product  E-INTCK250K  data to the dataframe. Loop number:  16  of 151  time:  2020-02-21 14:24:59.656896
Appending product  E-INTCK5K  data to the dataframe. Loop number:  17  of 151  time:  2020-02-21 14:24:59.699213
Appending product  E-INTCK10K  data to the dataframe. Loop number:  18  of 151  time:  2020-02-21 14:24:59.741873
Appending product  E-INTCK25K  data to the dataframe. Loop number:  19  of 151  time:  2020-02-21 14:24:59.787319
Appending product  E-INTCK50K  data to the dataframe. Loop number:  20  of 151  time:  2020-02-21 14:24:59.835453
Appending product  E-INTCK75K  data to the dataframe. Loop number:  21  of 151  time:  2020-02-21 14:24:59.885521
Appending product  E-INTCK100K  data to the dataframe. Loop number:  22  of 151  time:  2020-02-21 14:24:59.944945
Appending product  RELSAV1MIL  data to the dataframe. Loop number:  23  of 151  time:  2020-02-21 14:25:00.003853
Appending product  RELSAV10K  data to the dataframe. Loop number:  24  of 151  time:  2020-02-21 14:25:00.117695
Appending product  RELSAV100K  data to the dataframe. Loop number:  25  of 151  time:  2020-02-21 14:25:00.176893
Appending product  RELSAV2.5K  data to the dataframe. Loop number:  26  of 151  time:  2020-02-21 14:25:00.236170
Appending product  RELSAV2.5M  data to the dataframe. Loop number:  27  of 151  time:  2020-02-21 14:25:00.295635
Appending product  RELSAV25K  data to the dataframe. Loop number:  28  of 151  time:  2020-02-21 14:25:00.357798
Appending product  RELSAV250  data to the dataframe. Loop number:  29  of 151  time:  2020-02-21 14:25:00.426718
Appending product  RELSAV250K  data to the dataframe. Loop number:  30  of 151  time:  2020-02-21 14:25:00.493860
Appending product  RELSAV5K  data to the dataframe. Loop number:  31  of 151  time:  2020-02-21 14:25:00.562569
Appending product  RELSAV5MIL  data to the dataframe. Loop number:  32  of 151  time:  2020-02-21 14:25:00.634339
Appending product  RELSAV50K  data to the dataframe. Loop number:  33  of 151  time:  2020-02-21 14:25:00.709479
Appending product  06MFIRA0K  data to the dataframe. Loop number:  34  of 151  time:  2020-02-21 14:25:00.784155
Appending product  18MFIRA0K  data to the dataframe. Loop number:  35  of 151  time:  2020-02-21 14:25:00.862653
Appending product  PREMMM5K  data to the dataframe. Loop number:  36  of 151  time:  2020-02-21 14:25:00.947033
Appending product  PREMMM15K  data to the dataframe. Loop number:  37  of 151  time:  2020-02-21 14:25:01.029984
Appending product  PREMMM20K  data to the dataframe. Loop number:  38  of 151  time:  2020-02-21 14:25:01.116725
Appending product  PREMMM10K  data to the dataframe. Loop number:  39  of 151  time:  2020-02-21 14:25:01.204065
Appending product  72MCD10K  data to the dataframe. Loop number:  40  of 151  time:  2020-02-21 14:25:01.292586
Appending product  07DCD10K  data to the dataframe. Loop number:  41  of 151  time:  2020-02-21 14:25:01.383461
Appending product  07DCD100K  data to the dataframe. Loop number:  42  of 151  time:  2020-02-21 14:25:01.475746
Appending product  07DCD20K  data to the dataframe. Loop number:  43  of 151  time:  2020-02-21 14:25:01.567339
Appending product  07DCD50K  data to the dataframe. Loop number:  44  of 151  time:  2020-02-21 14:25:01.663883
Appending product  07YCD10K  data to the dataframe. Loop number:  45  of 151  time:  2020-02-21 14:25:01.758868
Appending product  10YCD10K  data to the dataframe. Loop number:  46  of 151  time:  2020-02-21 14:25:01.854454
Appending product  10YCD100K  data to the dataframe. Loop number:  47  of 151  time:  2020-02-21 14:25:01.954440
Appending product  108MCD10K  data to the dataframe. Loop number:  48  of 151  time:  2020-02-21 14:25:02.051948
Appending product  120MCD10K  data to the dataframe. Loop number:  49  of 151  time:  2020-02-21 14:25:02.154195
Appending product  120MCD100K  data to the dataframe. Loop number:  50  of 151  time:  2020-02-21 14:25:02.258502
Appending product  120MCD50K  data to the dataframe. Loop number:  51  of 151  time:  2020-02-21 14:25:02.362837
Appending product  14DCD10K  data to the dataframe. Loop number:  52  of 151  time:  2020-02-21 14:25:02.469212
Appending product  14DCD100K  data to the dataframe. Loop number:  53  of 151  time:  2020-02-21 14:25:02.585699
Appending product  14DCD20K  data to the dataframe. Loop number:  54  of 151  time:  2020-02-21 14:25:02.700015
Appending product  14DCD50K  data to the dataframe. Loop number:  55  of 151  time:  2020-02-21 14:25:02.812601
Appending product  72MCD100K  data to the dataframe. Loop number:  56  of 151  time:  2020-02-21 14:25:02.928021
Appending product  72MCD2.5K  data to the dataframe. Loop number:  57  of 151  time:  2020-02-21 14:25:03.046836
Appending product  72MCD25K  data to the dataframe. Loop number:  58  of 151  time:  2020-02-21 14:25:03.168913
Appending product  72MCD50K  data to the dataframe. Loop number:  59  of 151  time:  2020-02-21 14:25:03.292533
Appending product  72MCD90K  data to the dataframe. Loop number:  60  of 151  time:  2020-02-21 14:25:03.414652
Appending product  84MCD50K  data to the dataframe. Loop number:  61  of 151  time:  2020-02-21 14:25:03.540872
Appending product  96MCD10K  data to the dataframe. Loop number:  62  of 151  time:  2020-02-21 14:25:03.669467
Appending product  84MCD10K  data to the dataframe. Loop number:  63  of 151  time:  2020-02-21 14:25:03.797747
Appending product  PREMIC250K  data to the dataframe. Loop number:  64  of 151  time:  2020-02-21 14:25:03.929249
Appending product  PREMIC25K  data to the dataframe. Loop number:  65  of 151  time:  2020-02-21 14:25:04.061438
Appending product  PREMIC50K  data to the dataframe. Loop number:  66  of 151  time:  2020-02-21 14:25:04.198509
Appending product  PREMIC10K  data to the dataframe. Loop number:  67  of 151  time:  2020-02-21 14:25:04.334736
Appending product  PREMIC15K  data to the dataframe. Loop number:  68  of 151  time:  2020-02-21 14:25:04.472205
Appending product  PREMIC20K  data to the dataframe. Loop number:  69  of 151  time:  2020-02-21 14:25:04.610246
Appending product  PREMIC75K  data to the dataframe. Loop number:  70  of 151  time:  2020-02-21 14:25:04.752992
Appending product  PREMIC100K  data to the dataframe. Loop number:  71  of 151  time:  2020-02-21 14:25:04.898111
Appending product  PREMIC500K  data to the dataframe. Loop number:  72  of 151  time:  2020-02-21 14:25:05.047704
Appending product  PREMIC1M  data to the dataframe. Loop number:  73  of 151  time:  2020-02-21 14:25:05.195251
Appending product  PREMIC2.5M  data to the dataframe. Loop number:  74  of 151  time:  2020-02-21 14:25:05.349834
Appending product  PREMIC5MIL  data to the dataframe. Loop number:  75  of 151  time:  2020-02-21 14:25:05.500082
Appending product  PREMIC45K  data to the dataframe. Loop number:  76  of 151  time:  2020-02-21 14:25:05.654967
Appending product  PREMIC1K  data to the dataframe. Loop number:  77  of 151  time:  2020-02-21 14:25:05.797335
Appending product  PREMIC1.5K  data to the dataframe. Loop number:  78  of 151  time:  2020-02-21 14:25:05.952166
Appending product  PREMIC2.5K  data to the dataframe. Loop number:  79  of 151  time:  2020-02-21 14:25:06.111846
Appending product  PREMIC5K  data to the dataframe. Loop number:  80  of 151  time:  2020-02-21 14:25:06.272188
Appending product  BRELMM2.5K  data to the dataframe. Loop number:  81  of 151  time:  2020-02-21 14:25:06.429801
Appending product  BRELMM10K  data to the dataframe. Loop number:  82  of 151  time:  2020-02-21 14:25:06.597418
Appending product  BRELMM50K  data to the dataframe. Loop number:  83  of 151  time:  2020-02-21 14:25:06.758968
Appending product  BRELMM100K  data to the dataframe. Loop number:  84  of 151  time:  2020-02-21 14:25:06.926673
Appending product  BRELMM200K  data to the dataframe. Loop number:  85  of 151  time:  2020-02-21 14:25:07.099578
Appending product  BRELMM250K  data to the dataframe. Loop number:  86  of 151  time:  2020-02-21 14:25:07.277211
Appending product  BRELMM500K  data to the dataframe. Loop number:  87  of 151  time:  2020-02-21 14:25:07.451235
Appending product  BRELMM1MIL  data to the dataframe. Loop number:  88  of 151  time:  2020-02-21 14:25:07.630411
Appending product  BUSSAV1K  data to the dataframe. Loop number:  89  of 151  time:  2020-02-21 14:25:07.811992
Appending product  BUSSAV100K  data to the dataframe. Loop number:  90  of 151  time:  2020-02-21 14:25:08.000289
Appending product  BUSSAV250  data to the dataframe. Loop number:  91  of 151  time:  2020-02-21 14:25:08.188748
Appending product  BUSSAV250K  data to the dataframe. Loop number:  92  of 151  time:  2020-02-21 14:25:08.386752
Appending product  BUSSAV5K  data to the dataframe. Loop number:  93  of 151  time:  2020-02-21 14:25:08.641632
Appending product  BUSSAV50K  data to the dataframe. Loop number:  94  of 151  time:  2020-02-21 14:25:08.833285
Appending product  BUSSAV500K  data to the dataframe. Loop number:  95  of 151  time:  2020-02-21 14:25:09.031684
Appending product  BUSSAV75K  data to the dataframe. Loop number:  96  of 151  time:  2020-02-21 14:25:09.224722
Appending product  BUSSAV90K  data to the dataframe. Loop number:  97  of 151  time:  2020-02-21 14:25:09.423543
Appending product  BUSSAV25K  data to the dataframe. Loop number:  98  of 151  time:  2020-02-21 14:25:09.622244
Appending product  BUSSAV10K  data to the dataframe. Loop number:  99  of 151  time:  2020-02-21 14:25:09.829474
Appending product  BUSSAV2.5K  data to the dataframe. Loop number:  100  of 151  time:  2020-02-21 14:25:10.031796
Appending product  RELMM10K  data to the dataframe. Loop number:  101  of 151  time:  2020-02-21 14:25:10.238136
Appending product  RELMM15K  data to the dataframe. Loop number:  102  of 151  time:  2020-02-21 14:25:10.441403
Appending product  RELMM25K  data to the dataframe. Loop number:  103  of 151  time:  2020-02-21 14:25:10.649623
Appending product  RELMM50K  data to the dataframe. Loop number:  104  of 151  time:  2020-02-21 14:25:10.860434
Appending product  RELMM75K  data to the dataframe. Loop number:  105  of 151  time:  2020-02-21 14:25:11.073670
Appending product  BPREMMM2.5K  data to the dataframe. Loop number:  106  of 151  time:  2020-02-21 14:25:11.293923
Appending product  BPREMMM1K  data to the dataframe. Loop number:  107  of 151  time:  2020-02-21 14:25:11.517248
Appending product  BPREMMM750K  data to the dataframe. Loop number:  108  of 151  time:  2020-02-21 14:25:11.735269
Appending product  BPREMMM5MIL  data to the dataframe. Loop number:  109  of 151  time:  2020-02-21 14:25:11.961123
Appending product  BPREMMM300K  data to the dataframe. Loop number:  110  of 151  time:  2020-02-21 14:25:12.190021
Appending product  BPREMMM500K  data to the dataframe. Loop number:  111  of 151  time:  2020-02-21 14:25:12.418753
Appending product  BPREMMM3K  data to the dataframe. Loop number:  112  of 151  time:  2020-02-21 14:25:12.656247
Appending product  BPREMMM5K  data to the dataframe. Loop number:  113  of 151  time:  2020-02-21 14:25:12.889061
Appending product  BPREMMM10K  data to the dataframe. Loop number:  114  of 151  time:  2020-02-21 14:25:13.125900
Appending product  BPREMMM20K  data to the dataframe. Loop number:  115  of 151  time:  2020-02-21 14:25:13.362084
Appending product  BPREMMM25K  data to the dataframe. Loop number:  116  of 151  time:  2020-02-21 14:25:13.597088
Appending product  BPREMMM50K  data to the dataframe. Loop number:  117  of 151  time:  2020-02-21 14:25:13.830780
Appending product  BPREMMM100K  data to the dataframe. Loop number:  118  of 151  time:  2020-02-21 14:25:14.133210
Appending product  BPREMMM250K  data to the dataframe. Loop number:  119  of 151  time:  2020-02-21 14:25:14.372939
Appending product  BPREMMM1MIL  data to the dataframe. Loop number:  120  of 151  time:  2020-02-21 14:25:14.615815
Appending product  BPREMMM75K  data to the dataframe. Loop number:  121  of 151  time:  2020-02-21 14:25:14.861699
Appending product  BPREMMM150K  data to the dataframe. Loop number:  122  of 151  time:  2020-02-21 14:25:15.109358
Appending product  BPREMMM200K  data to the dataframe. Loop number:  123  of 151  time:  2020-02-21 14:25:15.357700
Appending product  BUSSAV0K  data to the dataframe. Loop number:  124  of 151  time:  2020-02-21 14:25:15.616566
Appending product  07DCD1K  data to the dataframe. Loop number:  125  of 151  time:  2020-02-21 14:25:15.880595
Appending product  14DCD1K  data to the dataframe. Loop number:  126  of 151  time:  2020-02-21 14:25:16.141061
Appending product  PREMMM1K  data to the dataframe. Loop number:  127  of 151  time:  2020-02-21 14:25:16.403421
Appending product  PREMMM3K  data to the dataframe. Loop number:  128  of 151  time:  2020-02-21 14:25:16.666616
Appending product  PREMMM2.5K  data to the dataframe. Loop number:  129  of 151  time:  2020-02-21 14:25:16.924275
Appending product  RELMM250K  data to the dataframe. Loop number:  130  of 151  time:  2020-02-21 14:25:17.172007
Appending product  RELMM500K  data to the dataframe. Loop number:  131  of 151  time:  2020-02-21 14:25:17.431070
Appending product  RELMM1M  data to the dataframe. Loop number:  132  of 151  time:  2020-02-21 14:25:17.674744
Appending product  RELMM1K  data to the dataframe. Loop number:  133  of 151  time:  2020-02-21 14:25:17.924935
Appending product  RELMM2.5K  data to the dataframe. Loop number:  134  of 151  time:  2020-02-21 14:25:18.197590
Appending product  RELMM5K  data to the dataframe. Loop number:  135  of 151  time:  2020-02-21 14:25:18.463379
Appending product  RELMM100K  data to the dataframe. Loop number:  136  of 151  time:  2020-02-21 14:25:18.738424
Appending product  RELMM150K  data to the dataframe. Loop number:  137  of 151  time:  2020-02-21 14:25:19.007783
Appending product  RELMM200K  data to the dataframe. Loop number:  138  of 151  time:  2020-02-21 14:25:19.282608
Appending product  RELMM300K  data to the dataframe. Loop number:  139  of 151  time:  2020-02-21 14:25:19.616076
Appending product  RELMM2.5MIL  data to the dataframe. Loop number:  140  of 151  time:  2020-02-21 14:25:19.890374
Appending product  RELMM5MIL  data to the dataframe. Loop number:  141  of 151  time:  2020-02-21 14:25:20.171787
Appending product  18MVIRA1K  data to the dataframe. Loop number:  142  of 151  time:  2020-02-21 14:25:20.449866
Appending product  18MVIRA10K  data to the dataframe. Loop number:  143  of 151  time:  2020-02-21 14:25:20.718810
Appending product  18MVIRA25K  data to the dataframe. Loop number:  144  of 151  time:  2020-02-21 14:25:20.991311
Appending product  18MVIRA30K  data to the dataframe. Loop number:  145  of 151  time:  2020-02-21 14:25:21.269421
Appending product  18MVIRA50K  data to the dataframe. Loop number:  146  of 151  time:  2020-02-21 14:25:21.559816
Appending product  18MVIRA500  data to the dataframe. Loop number:  147  of 151  time:  2020-02-21 14:25:21.849291
Appending product  03MRELCD10K  data to the dataframe. Loop number:  148  of 151  time:  2020-02-21 14:25:22.143702
Appending product  06MRELCD10K  data to the dataframe. Loop number:  149  of 151  time:  2020-02-21 14:25:22.443988
Appending product  12MRELCD10K  data to the dataframe. Loop number:  150  of 151  time:  2020-02-21 14:25:22.738995
Appending product  24MRELCD10K  data to the dataframe. Loop number:  151  of 151  time:  2020-02-21 14:25:23.037908
     acct_nbr_loc  ... 24MRELCD10K_surveydate
0      AK00100003  ...                    NaT
1      AK00100006  ...                    NaT
2      AK00400001  ...                    NaT
3      AK00400002  ...                    NaT
4      AL00100010  ...                    NaT
...           ...  ...                    ...
8552   GA00700155  ...                    NaT
8553   AL00900023  ...                    NaT
8554   IL07400009  ...                    NaT
8555   MI04900013  ...                    NaT
8556   ID00100029  ...                    NaT

[8557 rows x 1209 columns]

In [ ]:
i=1
df_blank5 = df_blank
#df_blank = df_blank.fillna(0)
import datetime
from functools import reduce
for key in pc_list_dict5:
  new_df = pd.DataFrame(pc_list_dict5[key])
  new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','productcode': key+'_productcode','surveydate': key+'_surveydate','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  #new_df = new_df.rename(columns={'acct_nbr_rt': key+'_acct_nbr_rt','tierminimum': key+'_tierminimum','tiermaximum': key+'_tiermaximum','termlength': key+'_termlength','termfrequency': key+'_termfrequency','rate': key+'_rate'})
  df_blank5 = reduce(lambda x,y: pd.merge(x,y, on='acct_nbr_loc', how='outer'), [df_blank5, new_df])
  #gc.collect()
  #df_blank = pd.concat([df_blank,new_df], axis=1)
  #df_blank = df_blank.append(new_df, ignore_index=True)
  print('Appending product ',key,' data to the dataframe. Loop number: ',i,' of',len(key5),' time: ',datetime.datetime.utcnow())
  i=i+1
print(df_blank5)
wide5 = df_blank5.loc[:,~df_blank5.columns.duplicated()]
#wide5.to_csv("/content/drive/My Drive/key5.csv", index = False, sep='|',mode = 'w', encoding='utf-8')

Appending product  36MRELCD10K  data to the dataframe. Loop number:  1  of 144  time:  2020-02-21 14:25:23.476759
Appending product  48MRELCD10K  data to the dataframe. Loop number:  2  of 144  time:  2020-02-21 14:25:23.490288
Appending product  15MRELCD10K  data to the dataframe. Loop number:  3  of 144  time:  2020-02-21 14:25:23.504486
Appending product  01MRELCD10K  data to the dataframe. Loop number:  4  of 144  time:  2020-02-21 14:25:23.519249
Appending product  03MRELCD90K  data to the dataframe. Loop number:  5  of 144  time:  2020-02-21 14:25:23.535263
Appending product  06MRELCD90K  data to the dataframe. Loop number:  6  of 144  time:  2020-02-21 14:25:23.552541
Appending product  07MRELCD10K  data to the dataframe. Loop number:  7  of 144  time:  2020-02-21 14:25:23.572900
Appending product  09MRELCD90K  data to the dataframe. Loop number:  8  of 144  time:  2020-02-21 14:25:23.595840
Appending product  10MRELCD10K  data to the dataframe. Loop number:  9  of 144  time:  2020-02-21 14:25:23.620096
Appending product  12MRELCD1K  data to the dataframe. Loop number:  10  of 144  time:  2020-02-21 14:25:23.645911
Appending product  12MRELCD25K  data to the dataframe. Loop number:  11  of 144  time:  2020-02-21 14:25:23.672362
Appending product  12MRELCD50K  data to the dataframe. Loop number:  12  of 144  time:  2020-02-21 14:25:23.702495
Appending product  12MRELCD75K  data to the dataframe. Loop number:  13  of 144  time:  2020-02-21 14:25:23.732129
Appending product  12MRELCD90K  data to the dataframe. Loop number:  14  of 144  time:  2020-02-21 14:25:23.763346
Appending product  12MRLCD100K  data to the dataframe. Loop number:  15  of 144  time:  2020-02-21 14:25:23.798956
Appending product  12MRLCD2.5K  data to the dataframe. Loop number:  16  of 144  time:  2020-02-21 14:25:23.833974
Appending product  12MRLCD250K  data to the dataframe. Loop number:  17  of 144  time:  2020-02-21 14:25:23.869532
Appending product  13MRELCD10K  data to the dataframe. Loop number:  18  of 144  time:  2020-02-21 14:25:23.910582
Appending product  18MRELCD90K  data to the dataframe. Loop number:  19  of 144  time:  2020-02-21 14:25:23.951552
Appending product  18MRELCD10K  data to the dataframe. Loop number:  20  of 144  time:  2020-02-21 14:25:23.996578
Appending product  24MRELCD90K  data to the dataframe. Loop number:  21  of 144  time:  2020-02-21 14:25:24.042955
Appending product  25MRELCD10K  data to the dataframe. Loop number:  22  of 144  time:  2020-02-21 14:25:24.091947
Appending product  36MRELCD1K  data to the dataframe. Loop number:  23  of 144  time:  2020-02-21 14:25:24.141400
Appending product  36MRELCD25K  data to the dataframe. Loop number:  24  of 144  time:  2020-02-21 14:25:24.190300
Appending product  36MRELCD50K  data to the dataframe. Loop number:  25  of 144  time:  2020-02-21 14:25:24.241203
Appending product  36MRELCD75K  data to the dataframe. Loop number:  26  of 144  time:  2020-02-21 14:25:24.293232
Appending product  36MRELCD90K  data to the dataframe. Loop number:  27  of 144  time:  2020-02-21 14:25:24.348050
Appending product  36MRLCD100K  data to the dataframe. Loop number:  28  of 144  time:  2020-02-21 14:25:24.403158
Appending product  36MRLCD2.5K  data to the dataframe. Loop number:  29  of 144  time:  2020-02-21 14:25:24.458628
Appending product  36MRLCD250K  data to the dataframe. Loop number:  30  of 144  time:  2020-02-21 14:25:24.517202
Appending product  37MRELCD10K  data to the dataframe. Loop number:  31  of 144  time:  2020-02-21 14:25:24.579289
Appending product  60MRELCD1K  data to the dataframe. Loop number:  32  of 144  time:  2020-02-21 14:25:24.642870
Appending product  60MRELCD25K  data to the dataframe. Loop number:  33  of 144  time:  2020-02-21 14:25:24.705609
Appending product  60MRELCD10K  data to the dataframe. Loop number:  34  of 144  time:  2020-02-21 14:25:24.771004
Appending product  60MRELCD50K  data to the dataframe. Loop number:  35  of 144  time:  2020-02-21 14:25:24.840229
Appending product  60MRELCD75K  data to the dataframe. Loop number:  36  of 144  time:  2020-02-21 14:25:24.908806
Appending product  60MRELCD90K  data to the dataframe. Loop number:  37  of 144  time:  2020-02-21 14:25:24.980699
Appending product  60MRLCD100K  data to the dataframe. Loop number:  38  of 144  time:  2020-02-21 14:25:25.056798
Appending product  60MRLCD2.5K  data to the dataframe. Loop number:  39  of 144  time:  2020-02-21 14:25:25.130543
Appending product  60MRLCD250K  data to the dataframe. Loop number:  40  of 144  time:  2020-02-21 14:25:25.207297
Appending product  RELIC10K  data to the dataframe. Loop number:  41  of 144  time:  2020-02-21 14:25:25.284101
Appending product  RELIC25K  data to the dataframe. Loop number:  42  of 144  time:  2020-02-21 14:25:25.362996
Appending product  RELIC50K  data to the dataframe. Loop number:  43  of 144  time:  2020-02-21 14:25:25.442583
Appending product  RELIC100K  data to the dataframe. Loop number:  44  of 144  time:  2020-02-21 14:25:25.525474
Appending product  RELIC75K  data to the dataframe. Loop number:  45  of 144  time:  2020-02-21 14:25:25.608625
Appending product  RELIC200K  data to the dataframe. Loop number:  46  of 144  time:  2020-02-21 14:25:25.695778
Appending product  RELIC250K  data to the dataframe. Loop number:  47  of 144  time:  2020-02-21 14:25:25.785840
Appending product  RELIC500K  data to the dataframe. Loop number:  48  of 144  time:  2020-02-21 14:25:25.936602
Appending product  RELIC1MIL  data to the dataframe. Loop number:  49  of 144  time:  2020-02-21 14:25:26.028947
Appending product  RELIC2.5MIL  data to the dataframe. Loop number:  50  of 144  time:  2020-02-21 14:25:26.131323
Appending product  RELIC5MIL  data to the dataframe. Loop number:  51  of 144  time:  2020-02-21 14:25:26.227577
Appending product  RELIC1K  data to the dataframe. Loop number:  52  of 144  time:  2020-02-21 14:25:26.329984
Appending product  RELIC2.5K  data to the dataframe. Loop number:  53  of 144  time:  2020-02-21 14:25:26.428848
Appending product  RELIC5K  data to the dataframe. Loop number:  54  of 144  time:  2020-02-21 14:25:26.528565
Appending product  EARNCRD50K  data to the dataframe. Loop number:  55  of 144  time:  2020-02-21 14:25:26.634459
Appending product  EARNCRD100K  data to the dataframe. Loop number:  56  of 144  time:  2020-02-21 14:25:26.741386
Appending product  EARNCRD250K  data to the dataframe. Loop number:  57  of 144  time:  2020-02-21 14:25:26.850326
Appending product  EARNCRD500K  data to the dataframe. Loop number:  58  of 144  time:  2020-02-21 14:25:26.961742
Appending product  EARNCRD750K  data to the dataframe. Loop number:  59  of 144  time:  2020-02-21 14:25:27.075493
Appending product  SAV0K  data to the dataframe. Loop number:  60  of 144  time:  2020-02-21 14:25:27.192736
Appending product  E-INTCK0K  data to the dataframe. Loop number:  61  of 144  time:  2020-02-21 14:25:27.311963
Appending product  CORPSWP100K  data to the dataframe. Loop number:  62  of 144  time:  2020-02-21 14:25:27.433543
Appending product  CORPSWP1K  data to the dataframe. Loop number:  63  of 144  time:  2020-02-21 14:25:27.556623
Appending product  CORPSWP25K  data to the dataframe. Loop number:  64  of 144  time:  2020-02-21 14:25:27.678460
Appending product  CORPSWP75K  data to the dataframe. Loop number:  65  of 144  time:  2020-02-21 14:25:27.811267
Appending product  CORPSWP150K  data to the dataframe. Loop number:  66  of 144  time:  2020-02-21 14:25:27.938343
Appending product  CORPSWP250K  data to the dataframe. Loop number:  67  of 144  time:  2020-02-21 14:25:28.068383
Appending product  CORPSWP500K  data to the dataframe. Loop number:  68  of 144  time:  2020-02-21 14:25:28.201501
Appending product  CORPSWP750K  data to the dataframe. Loop number:  69  of 144  time:  2020-02-21 14:25:28.340716
Appending product  CORPSWP1MIL  data to the dataframe. Loop number:  70  of 144  time:  2020-02-21 14:25:28.476243
Appending product  CORPSWP1.5M  data to the dataframe. Loop number:  71  of 144  time:  2020-02-21 14:25:28.616780
Appending product  CORPSWP5MIL  data to the dataframe. Loop number:  72  of 144  time:  2020-02-21 14:25:28.754354
Appending product  CORPSWP2.5K  data to the dataframe. Loop number:  73  of 144  time:  2020-02-21 14:25:28.897546
Appending product  CORPSWP10K  data to the dataframe. Loop number:  74  of 144  time:  2020-02-21 14:25:29.040470
Appending product  CORPSWP50K  data to the dataframe. Loop number:  75  of 144  time:  2020-02-21 14:25:29.188024
Appending product  BUSIC0K  data to the dataframe. Loop number:  76  of 144  time:  2020-02-21 14:25:29.337386
Appending product  12MFIRA0K  data to the dataframe. Loop number:  77  of 144  time:  2020-02-21 14:25:29.485276
Appending product  60MFIRA0K  data to the dataframe. Loop number:  78  of 144  time:  2020-02-21 14:25:29.629112
Appending product  03MCD0K  data to the dataframe. Loop number:  79  of 144  time:  2020-02-21 14:25:29.776747
Appending product  01MFIRA0K  data to the dataframe. Loop number:  80  of 144  time:  2020-02-21 14:25:29.926817
Appending product  24MFIRA0K  data to the dataframe. Loop number:  81  of 144  time:  2020-02-21 14:25:30.084540
Appending product  36MFIRA0K  data to the dataframe. Loop number:  82  of 144  time:  2020-02-21 14:25:30.238327
Appending product  30MRELCD10K  data to the dataframe. Loop number:  83  of 144  time:  2020-02-21 14:25:30.385788
Appending product  BUSMM0K  data to the dataframe. Loop number:  84  of 144  time:  2020-02-21 14:25:30.529242
Appending product  30MFIRA0K  data to the dataframe. Loop number:  85  of 144  time:  2020-02-21 14:25:30.686782
Appending product  EARNCRD0K  data to the dataframe. Loop number:  86  of 144  time:  2020-02-21 14:25:30.844550
Appending product  PREMMM0K  data to the dataframe. Loop number:  87  of 144  time:  2020-02-21 14:25:31.007081
Appending product  E-SAV10K  data to the dataframe. Loop number:  88  of 144  time:  2020-02-21 14:25:31.174832
Appending product  E-SAV2.5K  data to the dataframe. Loop number:  89  of 144  time:  2020-02-21 14:25:31.346106
Appending product  01MCD0K  data to the dataframe. Loop number:  90  of 144  time:  2020-02-21 14:25:31.516354
Appending product  18MVIRA0K  data to the dataframe. Loop number:  91  of 144  time:  2020-02-21 14:25:31.688823
Appending product  07MCD0K  data to the dataframe. Loop number:  92  of 144  time:  2020-02-21 14:25:31.921634
Appending product  13MCD0K  data to the dataframe. Loop number:  93  of 144  time:  2020-02-21 14:25:32.096247
Appending product  RELMM0K  data to the dataframe. Loop number:  94  of 144  time:  2020-02-21 14:25:32.275467
Appending product  PREMIC0K  data to the dataframe. Loop number:  95  of 144  time:  2020-02-21 14:25:32.454747
Appending product  48MFIRA0K  data to the dataframe. Loop number:  96  of 144  time:  2020-02-21 14:25:32.636857
Appending product  06MRELCD0K  data to the dataframe. Loop number:  97  of 144  time:  2020-02-21 14:25:32.817973
Appending product  12MRELCD0K  data to the dataframe. Loop number:  98  of 144  time:  2020-02-21 14:25:33.006786
Appending product  18MRELCD0K  data to the dataframe. Loop number:  99  of 144  time:  2020-02-21 14:25:33.197784
Appending product  24MRELCD0K  data to the dataframe. Loop number:  100  of 144  time:  2020-02-21 14:25:33.391230
Appending product  60MRELCD0K  data to the dataframe. Loop number:  101  of 144  time:  2020-02-21 14:25:33.585856
Appending product  42MCD0K  data to the dataframe. Loop number:  102  of 144  time:  2020-02-21 14:25:33.779666
Appending product  02MCD0K  data to the dataframe. Loop number:  103  of 144  time:  2020-02-21 14:25:33.973956
Appending product  07DCD0K  data to the dataframe. Loop number:  104  of 144  time:  2020-02-21 14:25:34.171841
Appending product  84MCD0K  data to the dataframe. Loop number:  105  of 144  time:  2020-02-21 14:25:34.369391
Appending product  120MCD0K  data to the dataframe. Loop number:  106  of 144  time:  2020-02-21 14:25:34.579937
Appending product  30YCD10K  data to the dataframe. Loop number:  107  of 144  time:  2020-02-21 14:25:34.782938
Appending product  12MVIRA0K  data to the dataframe. Loop number:  108  of 144  time:  2020-02-21 14:25:34.981600
Appending product  6MVIRA0K  data to the dataframe. Loop number:  109  of 144  time:  2020-02-21 14:25:35.191742
Appending product  BSRELIC25K  data to the dataframe. Loop number:  110  of 144  time:  2020-02-21 14:25:35.410632
Appending product  BSRELIC50K  data to the dataframe. Loop number:  111  of 144  time:  2020-02-21 14:25:35.628324
Appending product  BSRELIC250K  data to the dataframe. Loop number:  112  of 144  time:  2020-02-21 14:25:35.848622
Appending product  BSRELIC100K  data to the dataframe. Loop number:  113  of 144  time:  2020-02-21 14:25:36.071545
Appending product  20YCD10K  data to the dataframe. Loop number:  114  of 144  time:  2020-02-21 14:25:36.297733
Appending product  RELIC0K  data to the dataframe. Loop number:  115  of 144  time:  2020-02-21 14:25:36.528656
Appending product  BPREMMM0K  data to the dataframe. Loop number:  116  of 144  time:  2020-02-21 14:25:36.759642
Appending product  01MBSCD0K  data to the dataframe. Loop number:  117  of 144  time:  2020-02-21 14:25:36.990550
Appending product  02MBSCD0K  data to the dataframe. Loop number:  118  of 144  time:  2020-02-21 14:25:37.270486
Appending product  03MBSCD0K  data to the dataframe. Loop number:  119  of 144  time:  2020-02-21 14:25:37.482196
Appending product  04MBSCD0K  data to the dataframe. Loop number:  120  of 144  time:  2020-02-21 14:25:37.701723
Appending product  06MBSCD0K  data to the dataframe. Loop number:  121  of 144  time:  2020-02-21 14:25:37.932451
Appending product  07MBSCD0K  data to the dataframe. Loop number:  122  of 144  time:  2020-02-21 14:25:38.161858
Appending product  108MBSCD0K  data to the dataframe. Loop number:  123  of 144  time:  2020-02-21 14:25:38.395294
Appending product  12MBSCD0K  data to the dataframe. Loop number:  124  of 144  time:  2020-02-21 14:25:38.637072
Appending product  120MBSCD0K  data to the dataframe. Loop number:  125  of 144  time:  2020-02-21 14:25:38.877265
Appending product  13MBSCD0K  data to the dataframe. Loop number:  126  of 144  time:  2020-02-21 14:25:39.127211
Appending product  18MBSCD0K  data to the dataframe. Loop number:  127  of 144  time:  2020-02-21 14:25:39.364814
Appending product  24MBSCD0K  data to the dataframe. Loop number:  128  of 144  time:  2020-02-21 14:25:39.615198
Appending product  30MBSCD0K  data to the dataframe. Loop number:  129  of 144  time:  2020-02-21 14:25:39.864518
Appending product  36MBSCD0K  data to the dataframe. Loop number:  130  of 144  time:  2020-02-21 14:25:40.122967
Appending product  48MBSCD0K  data to the dataframe. Loop number:  131  of 144  time:  2020-02-21 14:25:40.386205
Appending product  60MBSCD0K  data to the dataframe. Loop number:  132  of 144  time:  2020-02-21 14:25:40.655061
Appending product  72MBSCD0K  data to the dataframe. Loop number:  133  of 144  time:  2020-02-21 14:25:40.923329
Appending product  84MBSCD0K  data to the dataframe. Loop number:  134  of 144  time:  2020-02-21 14:25:41.197191
Appending product  96MBSCD0K  data to the dataframe. Loop number:  135  of 144  time:  2020-02-21 14:25:41.472338
Appending product  15MBSCD0K  data to the dataframe. Loop number:  136  of 144  time:  2020-02-21 14:25:41.754849
Appending product  72MFIRA0K  data to the dataframe. Loop number:  137  of 144  time:  2020-02-21 14:25:42.048948
Appending product  09MCD0K  data to the dataframe. Loop number:  138  of 144  time:  2020-02-21 14:25:42.335457
Appending product  07DBSCD0K  data to the dataframe. Loop number:  139  of 144  time:  2020-02-21 14:25:42.683734
Appending product  11MBSCD0K  data to the dataframe. Loop number:  140  of 144  time:  2020-02-21 14:25:42.975194
Appending product  14DBSCD0K  data to the dataframe. Loop number:  141  of 144  time:  2020-02-21 14:25:43.272866
Appending product  21DBSCD0K  data to the dataframe. Loop number:  142  of 144  time:  2020-02-21 14:25:43.579013
Appending product  BRELMM0K  data to the dataframe. Loop number:  143  of 144  time:  2020-02-21 14:25:43.880978
Appending product  24MVIRA0K  data to the dataframe. Loop number:  144  of 144  time:  2020-02-21 14:25:44.188203
     acct_nbr_loc 36MRELCD10K_acct_nbr_rt  ... 24MVIRA0K_rate  24MVIRA0K_surveydate
0      AK00100003                     NaN  ...            NaN                   NaT
1      AK00100006                     NaN  ...            NaN                   NaT
2      AK00400001                     NaN  ...            NaN                   NaT
3      AK00400002                     NaN  ...            NaN                   NaT
4      AL00100010                     NaN  ...            NaN                   NaT
...           ...                     ...  ...            ...                   ...
8552   GA00700155                     NaN  ...            NaN                   NaT
8553   AL00900023                     NaN  ...            NaN                   NaT
8554   IL07400009                     NaN  ...            NaN                   NaT
8555   MI04900013                     NaN  ...            NaN                   NaT
8556   ID00100029                     NaN  ...            NaN                   NaT

[8557 rows x 1153 columns]

In [ ]:
wide2.head()

  acct_nbr_loc 36MCD25K_acct_nbr_rt  ... 24MBSCD250K_rate  24MBSCD250K_surveydate
0   AK00100003           AK00100003  ...              NaN                     NaT
1   AK00100006                  NaN  ...              NaN                     NaT
2   AK00400001           AK00400001  ...              NaN                     NaT
3   AK00400002           AK00400002  ...              NaN                     NaT
4   AL00100010           AL00100010  ...              NaN                     NaT

[5 rows x 1209 columns]

In [ ]:
gc.collect()

0

In [ ]:
wide12 = pd.merge(wide1, wide2, on=['acct_nbr_loc'], how ='inner', validate="1:1")
wide123 = pd.merge(wide12, wide3, on=['acct_nbr_loc'], how ='inner', validate="1:1")
wide1234 = pd.merge(wide123, wide4, on=['acct_nbr_loc'], how ='inner', validate="1:1")
wide12345 = pd.merge(wide1234, wide5, on=['acct_nbr_loc'], how ='inner', validate="1:1")
wide12345

     acct_nbr_loc 24MCD10K_acct_nbr_rt  ... 24MVIRA0K_rate  24MVIRA0K_surveydate
0      AK00100003           AK00100003  ...            NaN                   NaT
1      AK00100006           AK00100006  ...            NaN                   NaT
2      AK00400001           AK00400001  ...            NaN                   NaT
3      AK00400002           AK00400002  ...            NaN                   NaT
4      AL00100010           AL00100010  ...            NaN                   NaT
...           ...                  ...  ...            ...                   ...
8552   GA00700155                  NaN  ...            NaN                   NaT
8553   AL00900023                  NaN  ...            NaN                   NaT
8554   IL07400009                  NaN  ...            NaN                   NaT
8555   MI04900013                  NaN  ...            NaN                   NaT
8556   ID00100029                  NaN  ...            NaN                   NaT

[8557 rows x 5985 columns]

In [ ]:
Finalsheet = reduce(lambda x,y: pd.merge(x,y, on='acct_nbr_loc', how='left'), [wide12345,unique_Deposit_InstitutionDetails122016])
print (len(Finalsheet.index))
Finalsheet.head(20)

8557

   acct_nbr_loc 24MCD10K_acct_nbr_rt  ...         lon        lat
0    AK00100003           AK00100003  ... -149.889475  61.183923
1    AK00100006           AK00100006  ... -149.885906  61.191917
2    AK00400001           AK00400001  ... -131.653466  55.344615
3    AK00400002           AK00400002  ... -131.676110  55.351225
4    AL00100010           AL00100010  ...  -88.082166  30.715218
5    AL00100012           AL00100012  ...         NaN        NaN
6    AL00100019           AL00100019  ...  -88.041814  30.693402
7    AL00100076           AL00100076  ...  -88.157067  30.647216
8    AL00100167           AL00100167  ...  -88.199015  30.682221
9    AL00100227           AL00100227  ...  -88.124606  30.689976
10   AL00200002           AL00200002  ...  -87.716860  30.545336
11   AL00200059           AL00200059  ...  -87.683192  30.421677
12   AL00300001           AL00300001  ...  -85.594156  31.110196
13   AL00300006           AL00300006  ...  -85.696512  31.088521
14   AL00300009           AL00300009  ...  -85.864527  31.035018
15   AL00300012           AL00300012  ...  -85.850838  31.313633
16   AL00300016           AL00300016  ...  -86.480272  31.308112
17   AL00300026           AL00300026  ...  -85.877932  31.046519
18   AL00400012           AL00400012  ...  -85.712025  31.311101
19   AL00400018           AL00400018  ...  -85.432683  31.234566

[20 rows x 5992 columns]

In [ ]:
Finalsheet.to_csv("/content/drive/My Drive/Finalsheet.csv", index = False, sep='|',mode = 'w', encoding='utf-8')

In [ ]:
Finalsheet.shape

(8557, 5992)